{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
<!-- 头图 banner -->
<div class="banner">
    <div class="banner-content-container">
      <div class="container">
        <div class="row">
          <div class="left-content col-6">
            <p class="title">关于我们</p>
            <p class="desc">区块链技术与实体经济的结合，区块链技术与实体经济的结合区块链技术与实体经济的结合区块链技术与实体经济的结块链技术与实体经济的结合。</p>
            <a href="#" target="_blank" class="detail-btn">了解详情</a>
          </div>
          <div class="col-1"></div>
          <div class="right-image col-5">
            <img src="{% static 'images/about/about_banner_pic.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 企业文化 company-culture -->
  <div class="company-culture">
    <div class="module-title">
        <p class="title">企业文化</p>
        <p class="desc">平台优势的一句好的推荐语</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_jishu.png' %}" alt="">
                    <p class="company-culture-title">专注技术</p>
                    <p class="company-culture-desc">用更安全可靠的技术成果创造更多的实际价值</p>
                </div>
            </div>
            <div class="col-6 col-md-4  d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_shenghuo.png' %}" alt="">
                    <p class="company-culture-title">便捷生活</p>
                    <p class="company-culture-desc">拓展更多的应用场景让区块链技术深入融入到市场环境中去要，定制出适合的软件</p>
                </div>
            </div>
            <div class="col-6 col-md-4  d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_shiyongjishu.png' %}" alt="">
                    <p class="company-culture-title">使用技术</p>
                    <p class="company-culture-desc">拓展更多的应用场景让区块链技术深入融入到市场环境中去要，定制出适合的软件</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="company-introduce">
    <div class="container">
        <div class="row align-items-center">
            <div class="introduce-img col-12 col-lg-6">
                <img src="{% static 'images/about/about_Image.png' %}" alt="">
            </div>
            <div class="introduce-right-content col-12 col-lg-6">
                <p class="introduce-title">公司简介</p>
                <p class="introduce-desc">我们是一家集策划、设计、技术开发、网站优化SEO优化、关键词排名、区块链，营销推广于一体的专业互联网产品服务公司致力于为企业信息化提供驱动力。我们致力于品牌网站建设、官网SEO优化关键词优化快速排名、品牌整合营销推广、新闻媒体发布等为中小型企业互联网推广接单的营销服务。</p>
                <div class="trait-list">
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">10年互联网服务经验</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">8年全网营销服务团队</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">一站式整合营销服务</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">SEO优化行业先导企业</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">追加客户体验感受</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">公司间合作无后顾之忧</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
  <!-- 发展历程 development-history -->
  <div class="development-history">
      <div class="module-title">
          <p class="title">发展历程和荣誉</p>
          <p class="desc">文案文案文案文案文案文案文案文案文案文案文案文案文案文案</p>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                <div class="development-history-container">
                    <div class="development-history-title row">
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2015</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2016</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2017</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2018</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2019</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item is-active col-2">
                            <p class="year-num">2020</p>
                            <p class="jt-icon"></p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="development-history-content">
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2018-06
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">APP3.0上线</p>
                                            <p class="development-history-content-desc">新增春节活动模块功能.新增食疗模块功能.优化资讯模块,新增评论,收藏功能。修复bug, 优化用户体验。</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2018-06
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">APP4.0上线</p>
                                            <p class="development-history-content-desc">全新改版，健康升级。新增健康社群、食疗养生、咨询、健康目标、慢病管理等功能；优化商城模块；修复bug、优化代码。</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2019-02
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">商户端APP1.0上线</p>
                                            <p class="development-history-content-desc">集团为旗下加盟合作商家提供的一套管理系统，包括移动APP（商户端），PC端管理软件。主要为商家提供查询、在线交流沟通、商家店员管理等功能。</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2019-06
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">首届2019产业论坛举办</p>
                                            <p class="development-history-content-desc">11月14日, 首届论坛举办。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- 业务领域 business-area -->
  <div class="business-area">
      <div class="module-title">
          <p class="title">业务领域</p>
          <p class="desc">文案文案文案文案文案文案文案</p>
      </div>
      <div class="container">
          <div class="row">
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon1.png' %}" alt="">
                <p class="business-area-title">网站建设</p>
                <p class="business-area-desc">专注网站建设十二年，互联网深度定制服务商；丰富的设计经验，深厚的技术积淀，专业团队为您提供一站式解决方案。</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon2.png' %}" alt="">
                <p class="business-area-title">移动端设计</p>
                <p class="business-area-desc">APP、小程序、公众号、H5交互专业设计开发，为您提高转化降低门槛，更好的为用户服务，壹起航为您提供全案服务。</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon3.png' %}" alt="">
                <p class="business-area-title">搜索引擎优化</p>
                <p class="business-area-desc">网站建设做好后，没流量？没访客？网站SEO优化营销，选择壹起航，把精准客户从百度、360等搜索中免费引回来。</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon4.png' %}" alt="">
                <p class="business-area-title">云服务器</p>
                <p class="business-area-desc">十大IDC服务商，国内外多个优质机房、多种网络线路选择，性能超卓，安全、快速、稳定</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon5.png' %}" alt="">
                <p class="business-area-title">网站分析</p>
                <p class="business-area-desc">针对网站20多项指标，快速做出定位分析，可以进行快速修改站内工作，保证符合百度算法要求</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon6.png' %}" alt="">
                <p class="business-area-title">行业解决方案</p>
                <p class="business-area-desc">针对性更强，满足行业在实际应用的各种专业化个性需求，有效实现平台搭建、管理和运营</p>
            </div>
          </div>
      </div>
  </div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
 <script>
        $('.client-box').owlCarousel({
            items: 6,
            loop:true,
            autoplay: true,
            autoplayTimeout: 2000,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                576:{
                    items:3
                },
                768: {
                    items:3
                },
                960: {
                    items:4
                },
                1140:{
                    items:6
                }
            }
        })
    </script>
{% endblock %}