{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
 <div class="module-tab-banner">
    <img src="{% static 'images/about_banner.png' %}" alt="research_banner">
</div>
<div class="module-box">
    <div class="module-title col-12">
        <p>公司简介</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container">
        <div class="row">
            <div class="company-box col-12">
                <img src="{% static 'images/company_introduce.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="module-box gray-module-box">
    <div class="module-title col-12">
        <p>发展历程和荣誉</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container">
        <div class="row">
            <div class="develop-box col-12">
                <img src="{% static 'images/develop.jpg' %}" alt="">
            </div>
        </div>
    </div>

</div>
<div class="module-box">
    <div class="module-title">
        <p>价值观</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <ul class="cost-box container">
        <div class="row justify-content-between">
            <li class="col-xl-4 col-md-6 col-12">
                <div class="cost-item">
                    <div class="img-box">
                        <img src="{% static 'images/cost_list_1.png' %}" alt="serve_1">
                    </div>
                    <p class="serve-item-title">专注技术</p>
                    <p class="serve-item-content">用更安全可靠的技术成果创造更多的实际价值</p>
                    <p style="font-size: 14px;line-height: 22px;opacity: 0;">用更安全可靠的技术成果创造更多的实际价值</p>
                </div>
            </li>
            <li class="col-xl-4 col-md-6 col-12">
                <div class="cost-item">
                    <div class="img-box">
                        <img src="{% static 'images/cost_list_2.png' %}" alt="serve_1">
                    </div>
                    <p class="serve-item-title">使用技术</p>
                    <p class="serve-item-content">拓展更多的应用场景让区块链技术深入融入到市场环境中去要，定制出适合的软件</p>
                </div>
            </li>
            <li class="col-xl-4 col-md-6 col-12">
                <div class="cost-item">
                    <div class="img-box">
                        <img src="{% static 'images/cost_list_3.png' %}" alt="serve_1">
                    </div>
                    <p class="serve-item-title">便捷生活</p>
                    <p class="serve-item-content">区块链应用程序让消费者的生活更轻松便捷</p>
                    <p style="font-size: 14px;line-height: 22px;opacity: 0;">区块链应用程序让消费者的生活更轻松便捷</p>
                </div>
            </li>
        </div>
    </ul>
</div>
<div class="module-box gray-module-box">
    <div class="module-title">
        <p>业务领域</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="client-container container">
        <div class="row">
            <div class="client-box col-10 owl-carousel">
                <div>XQS ToKen</div>
                <div>UmiCash</div>
                <div>Biwork</div>
                <div>FBT</div>
                <div>AskMe</div>
                <div>Ginger</div>
                <div>OBT</div>
                <div>HuoXing</div>
                <div>巡宇支付</div>
                <div>知鱼行</div>
                <div>三道文化</div>
                <div>Soumi</div>
                <div>西南家政</div>
                <div>家政服务超市</div>
                <div>TBS Wallet</div>
                <div>幸运兔 DAPP</div>
            </div>
        </div>
    </div>
</div>
{% include 'front/layout/ask.html' %}
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
 <script>
        $('.client-box').owlCarousel({
            items: 6,
            loop:true,
            autoplay: true,
            autoplayTimeout: 2000,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                576:{
                    items:3
                },
                768: {
                    items:3
                },
                960: {
                    items:4
                },
                1140:{
                    items:6
                }
            }
        })
    </script>
{% endblock %}