{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
<!-- 头图 banner -->
<div class="banner">
    <div class="banner-content-container">
      <div class="container">
        <div class="row">
          <div class="left-content col-6">
            <p class="title">关于我们</p>
            <p class="desc">椭圆曲线科技(原木姜子科技)，助您项目高效快速的落地</p>
            <a href="#" target="_blank" class="detail-btn">了解详情</a>
          </div>
          <div class="col-1"></div>
          <div class="right-image col-5">
            <img src="{% static 'images/about/about_banner_pic.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 企业文化 company-culture -->
  <div class="company-culture">
    <div class="module-title">
        <p class="title">企业文化</p>
        <p class="desc">平台优势的一句好的推荐语</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_jishu.png' %}" alt="">
                    <p class="company-culture-title">专注技术</p>
                    <p class="company-culture-desc">用更安全可靠的技术成果创造更多的实际价值</p>
                </div>
            </div>
            <div class="col-6 col-md-4  d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_shenghuo.png' %}" alt="">
                    <p class="company-culture-title">便捷生活</p>
                    <p class="company-culture-desc">拓展更多的应用场景让区块链技术深入融入到市场环境中去要，定制出适合的软件</p>
                </div>
            </div>
            <div class="col-6 col-md-4  d-flex justify-content-center align-items-center">
                <div class="company-culture-item">
                    <img src="{% static 'images/about/about_shiyongjishu.png' %}" alt="">
                    <p class="company-culture-title">使用技术</p>
                    <p class="company-culture-desc">拓展更多的应用场景让区块链技术深入融入到市场环境中去要，定制出适合的软件</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="company-introduce">
    <div class="container">
        <div class="row align-items-center">
            <div class="introduce-img col-12 col-lg-6">
                <img src="{% static 'images/about/about_Image.png' %}" alt="">
            </div>
            <div class="introduce-right-content col-12 col-lg-6">
                <p class="introduce-title">公司简介</p>
                <p class="introduce-desc" style="font-size:18px">
                    天津椭圆曲线科技有限公司(原天津木姜子科技有限公司)是一家全球领先的技术服务公司，目前公司主营业务有软件技术服务、
                    区块链技术服务,白皮书编写,推广服务,猎头服务,域名服务等,
                    一直以"成为最值得信赖的技术服务公司"为愿景，以"为客户持续创造价值"为使命,
                    基于海量业务的技术锤炼,从基础架构到精细化运营,为客户提供安全,稳定,可靠的一站式技术服务。
                    团队成员曾就职阿里,百度,美团,火币,币安,Kcash,Achain,Okex,番茄钱包,Chainup和宜信宜人贷等
                    知名互联网及区块链公司,从事专业的技术开发或运营管理,具有丰富的技术经验与区块链行业经验.
                </p>
                <div class="trait-list">
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">5 年区块链技术服务经验</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">2 年全网营销服务团队</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">区块链技术营销一站式服务</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">数字货币系统鼻祖</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">追加客户体验感受</p>
                    </div>
                    <div class="trait-list-item">
                        <p class="trait-item-circle"><span class="trait-item-samll-circle"></span></p>
                        <p class="trait-text">公司间合作无后顾之忧</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
  <!-- 发展历程 development-history -->
  <div class="development-history">
      <div class="module-title">
          <p class="title">发展历程</p>
          <p class="desc">团队成立于 2016年, 2018年正式注册木姜子科技, 2021年改名椭圆曲线科技，发展至今, 取得了值得骄傲的成绩</p>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                <div class="development-history-container">
                    <div class="development-history-title row">
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2015</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2016</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2017</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2018</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item col-2">
                            <p class="year-num">2019</p>
                            <p class="jt-icon"></p>
                        </div>
                        <div class="development-history-title-item is-active col-2">
                            <p class="year-num">2020</p>
                            <p class="jt-icon"></p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="development-history-content">
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2015-11-05
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">问我技术团队成立</p>
                                            <p class="development-history-content-desc">在北京中关村成立以郭世江为首的问我技术团队，专门为社区提供技术解决方案</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2018-12-21
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">木姜子科技成立</p>
                                            <p class="development-history-content-desc">注册天津木姜子科技，立足中国，服务世界</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2019-06-30
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">与知鱼财经达成合作</p>
                                            <p class="development-history-content-desc">截止到2019年6月低，合作客户达到 30 多家，自主研发了 Ginger 交易所，Ginger 云端钱包，Ginger HD钱包和 Ginger 硬件钱包；
                                                在此期间，完成了股票交易所，XQS 钱包，UmiCash 钱包，FBT， OBT 项目，问我技术社区，火星交易所，知鱼行，HXB项目，巡宇小程序，搜米域名，WWB，TBS Wallet, 幸运兔项目等合作项目的开发</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2020-12-30
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">CoinCore项目启动</p>
                                            <p class="development-history-content-desc">CoinCore项目启动，在此期间，完成了数字货币钱包，数字货币交易所，数字货币量化，数字货币理财产品的研发</p>
                                        </div>
                                    </div>
                                    <div class="development-history-content-item row">
                                        <div class="col-3 history-event-year">
                                            2021-04-30
                                        </div>
                                        <div class="col-1 d-flex flex-column align-items-center">
                                            <p class="development-history-icon"><span></span></p>
                                            <p class="line-blue"></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="development-history-content-title">改名椭圆曲线科技</p>
                                            <p class="development-history-content-desc">改名椭圆曲线科技，在此期间，开发了链上星球，BTC基金，市集等产品；完成了链眼社区的建设</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- 业务领域 business-area -->
  <div class="business-area">
      <div class="module-title">
          <p class="title">业务领域</p>
          <p class="desc">强大业务背景，让客户更放心</p>
      </div>
      <div class="container">
          <div class="row">
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon1.png' %}" alt="">
                <p class="business-area-title">PC 端应用</p>
                <p class="business-area-desc">数字货币钱包桌面应用，数字货币交易所桌面应用，区块链浏览器桌面应用，股票配资平台桌面应用等</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon2.png' %}" alt="">
                <p class="business-area-title">移动端应用</p>
                <p class="business-area-desc">数字货币钱包APP和小程序，数字货币交易所APP和小程序，区块链浏览器APP和小程序，股票配资APP和小程序，DAPP等。</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon3.png' %}" alt="">
                <p class="business-area-title">冷钱包</p>
                <p class="business-area-desc">U盘冷钱包，硬件钱包，安卓系统冷钱包等</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon4.png' %}" alt="">
                <p class="business-area-title">公链联盟链</p>
                <p class="business-area-desc">各大主流链改造，新项目研发，企业数据上链等</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon5.png' %}" alt="">
                <p class="business-area-title">钱包币种支持</p>
                <p class="business-area-desc">Top 100 币种全方位支持，云端钱包，HD钱包和交易所钱包</p>
            </div>
            <div class="business-area-item col-6 col-lg-4">
                <img src="{% static 'images/about/about_icon6.png' %}" alt="">
                <p class="business-area-title">行业解决方案</p>
                <p class="business-area-desc">钱包，交易所，跨链，理财，基金，密码共享等系统级解决方案</p>
            </div>
          </div>
      </div>
  </div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
 <script>
        $('.client-box').owlCarousel({
            items: 6,
            loop:true,
            autoplay: true,
            autoplayTimeout: 2000,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                576:{
                    items:3
                },
                768: {
                    items:3
                },
                960: {
                    items:4
                },
                1140:{
                    items:6
                }
            }
        })
    </script>
{% endblock %}