{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css'%}" />
{% endblock %}
{% block body %}
    {% include 'front/layout/nav.html' %}
    <div class="banner">
        <div class="banner-content-container">
          <div class="container">
            <div class="row">
              <div class="left-content col-6">
                <p class="title">全球顶尖的区块链技术服务公司</p>
                <p class="desc">公链产品线、联盟链产品线、跨链链通产品线、数字货币钱包产品线、数字货币交易所产品线、数字货币量化产品线、数字货币理财产品线、合约产品线等，只要您想得到我们就做得到。</p>
                <a href="http://www.zhifish.cn/" target="_blank" class="detail-btn">其他产品线</a>
              </div>
              <div class="col-1"></div>
              <div class="right-image col-5">
                <img src="{% static 'images/index/banner_pic.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- 我们的优势 owner-forte -->
    <div class="owner-forte">
        <div class="module-title">
          <p class="title">我们的优势</p>
          <p class="desc">5 年的区块链行业耕耘，领先全球的技术服务</p>
        </div>
        <div class="container owner-forte-content">
          <div class="row justify-content-around">
              <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
                  <img src="{% static 'images/index/advantage1.png' %}" alt="advantage1">
                  <p class="title">安全可靠</p>
                  <p class="desc">云端可干扰的密钥系统，实现多重加密，验证流程严谨，安全可靠</p>
              </div>
              <div class="col-lg-1 owner-forte-block"></div>
            <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
              <img src="{% static 'images/index/advantage2.png' %}" alt="advantage2">
              <p class="title">经验丰富</p>
              <p class="desc">拥有多年的项目经验、核心技术，结合企业需要，定制出适合的软件</p>
            </div>
            <div class="col-lg-1 owner-forte-block"></div>
            <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
              <img src="{% static 'images/index/advantage3.png' %}" alt="advantage3">
              <p class="title">专属研发</p>
              <p class="desc">为每一个项目组分配一个独立的团队，成为您的专属研发团队</p>
            </div>
            <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
              <img src="{% static 'images/index/advantage4.png' %}" alt="advantage4">
              <p class="title">量身定制</p>
              <p class="desc">我们的宗旨就是量身定制，为不同的企业，打造专属的 产品，专家级的定制团队</p>
            </div>
            <div class="col-lg-1 owner-forte-block"></div>
            <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
              <img src="{% static 'images/index/advantage5.png' %}" alt="advantage5">
              <p class="title">售后支持</p>
              <p class="desc">项目的结束只是开始，我们拥有强大的售后团队为您解决技术策略支持</p>
            </div>
            <div class="col-lg-1 owner-forte-block"></div>
            <div class="col-5 col-sm-4 col-lg-3 owner-forte-item">
              <img src="{% static 'images/index/advantage6.png' %}" alt="advantage6">
              <p class="title">业界口碑</p>
              <p class="desc">我们收到过很多客户的良好反馈，我们的售前售后都得到广大客 户的极大认可</p>
            </div>
          </div>
        </div>
    </div>
    <!-- 我们的客户 owner-client -->
    <div class="owner-client-container">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <p class="title">我们的客户遍布全球</p>
          <p class="desc">我们始终致力于创造共赢、良性的环境，通过联盟与合作，快速、可靠地构建满足客户业务发展需要的解决方案，在区块链公链、联盟链、跨链、链通，数字货币钱包、交易所、量化、基金、质押借贷等方面与全球知名公司有着良好的合作关系。</p>
        </div>
      </div>
      <div class="row">
        <img src="{% static '/images/Map.png' %}" alt="map" class="map-img">
      </div>
    </div>
  </div>
    <!-- 服务提供商 serve-container -->
    <div class="serve-container">
    <div class="module-title">
      <p class="title">全球领先的区块链技术服务提供商</p>
      <p class="desc">一直不懈的努力，提供最好的服务 我们随时待命</p>
    </div>
    <div class="serve-content container">
      <div class="row">
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider1.png' %}" alt="provider">
            <p class="serve-name">交易所钱包</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider2.png' %}" alt="provider">
            <p class="serve-name">公链联盟链</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider3.png' %}" alt="provider">
            <p class="serve-name">交易所</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider4.png' %}" alt="provider">
            <p class="serve-name">OTC系统</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider5.png' %}" alt="provider">
            <p class="serve-name">撮合系统</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider6.png' %}" alt="provider">
            <p class="serve-name">法币系统</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider7.png' %}" alt="provider">
            <p class="serve-name">去中心化交易所</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider8.png' %}" alt="provider">
            <p class="serve-name">量化系统</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider9.png' %}" alt="provider">
            <p class="serve-name">HD钱包</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider10.png' %}" alt="provider">
            <p class="serve-name">云端钱包</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider11.png' %}" alt="provider">
            <p class="serve-name">EOS钱包</p>
          </div>
        </div>
        <div class="col-6 col-sm-3 d-flex justify-content-center align-items-center">
          <div class="server-item d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/index/provider12.png' %}" alt="provider">
            <p class="serve-name">DAPP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- 技术解决方案 solution-container -->
    <div class="solution-container">
    <div class="module-title">
      <p class="title">技术解决方案</p>
      <p class="desc">公链、联盟链、跨链、链通、数字货币钱包、数字货币交易所、数字货币量化、数字货币理财产品、合约等技术解决方案</p>
    </div>
    <div class="solution-content">
      <div class="container solution-box">
        {% for solution in solution_list %}
        <div class="row solution-item">
          <div class="col-12 col-md-6 img-container">
            <img src="{% url 'index' %}media/{{ solution.img }}" alt="{{ solution.name }}">
          </div>
          <div class="col-12 col-md-6 right-content d-flex flex-column justify-content-between">
            <div>
              <p class="solution-title">{{ solution.name }}</p>
              <p class="solution-desc">{{ solution.excerpt }}</p>
            </div>
            <a href="{% url 'index' %}solution-{{ solution.id }}.html" class="more-btn" target="_blank">更多</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="hd">
              <li class="on"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- 精通于区块链 master-container -->
    <div class="master-container">
    <div class="master-box d-flex flex-column justify-content-between align-items-center">
      <p>我们精于区块链，但不局限区块链</p>
      <a href="http://www.zhifish.cn/" target="_blank" class="d-flex justify-content-center align-items-center">了解详情</a>
    </div>
  </div>
    <!-- 新闻资讯 new-information -->
    <div class="new-information">
    <div class="module-title">
      <p class="title">新闻资讯</p>
      <p class="desc">关注我们的新闻资讯，了解区块链最新动向</p>
    </div>
    <div class="container new-information-content">
      <div class="row">
        {% for news in news_list %}
        <div class="col-12 col-md-4">
          <a href="{% url 'index' %}comp_dyn_detail-{{ news.id }}.html">
            <div class="new-information-item">
                <img src="{% url 'index' %}media/{{ news.img }}" alt="{{ news.title }}">
                <div class="information-info">
                  <p class="news-title">{{ news.title }}</p>
                  <p class="news-desc">{{ news.excerpt }}</p>
                  <p class="news-time">{{ news.created_at | hdate }}</p>
                </div>
            </div>
          </a>
        </div>
       {% endfor %}
      </div>
      <a href="{% url 'index' %}comp_dyn" class="more-btn" target="_blank">查看更多</a>
    </div>
  </div>
    <!-- 合作伙伴 cooperative-partner -->
    <div class="cooperative-partner">
    <div class="module-title">
      <p class="title">合作伙伴</p>
      <p class="desc">与多家知名区块链公司达成战略合作</p>
    </div>
    <div class="container cooperative-content">
      <div class="row">
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">阿里云</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">市集</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Biwork</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">TBS wallet</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">问我学院</p>
        </div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">CoinCore</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">ChainUP</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">巡宇支付</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">知鱼定制</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">三道文化</p>
        </div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-6 col-md-3 col-lg-2  cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">西南家政</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">家政服务超市</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">幸运兔 DAPP</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">火币</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Okex</p>
        </div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-lg-1 cooperative-white-block"></div>
        <div class="col-6 col-md-3 col-lg-2  cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Bitcoin</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Ethereum</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Tron</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Linkeye</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2 cooperative-item d-flex justify-content-center align-items-center">
          <p class="d-flex justify-content-center align-items-center">Binance</p>
        </div>
        <div class="col-lg-1 cooperative-white-block"></div>
      </div>
    </div>
  </div>
  {% include 'front/layout/bottom.html' %}
  {% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
 <script>
    jQuery(".solution-content").slide({mainCell:".solution-box",autoPlay:true});
 </script>
{% endblock %}
