{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/newList.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
<div class="module-tab-banner">
    <img src="{% static 'images/news_list_banner.png' %}" alt="research_banner">
</div>
 <div class="news-content-box container">
    <div class="row">
        <div class="bd">
            <div class="bd-item">
                <ul class="news-list">
                    {% for comp_dyn in comp_dyn_lists %}
                    <li>
                        <div class="news-list-item col-8">
                            <p class="title">{{ comp_dyn.title }}</p>
                            <p class="creatTime"><img src="{% static 'images/time_icon.png' %}" alt="">{{ comp_dyn.created_at | hdatetime }}</p>
                            <p class="article-introduce">{{ comp_dyn.excerpt }}</p>
                            <a href="" class="seeDetail">查看详情>></a>
                        </div>
                        <div class="col-4 right-img"><img src="{% url 'index' %}media/{{ comp_dyn.img }}" alt="{{ comp_dyn.title }}"></div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="page-box">
                    {% include 'front/layout/page.html' with items=comp_dyn_lists %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
<script>
    $('.news-content-box').slide({})
</script>
{% endblock %}