{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}" />
    <style>
     .news-detail {
         background:#002AFF;
         width: 100%;
    }
    </style>
{% endblock %}
{% block body %}
<div class="news-detail">
   {% include 'front/layout/nav.html' %}
</div>
<div style="background: #F2F2F2">
    <div class="article-content container">
        <div class="row">
            <div class="col-12">
                <p class="acticle-title">{{ dyn_detail.title }}</p>
                <p class="time">{{ dyn_detail.created_at | hdatetime }}</p>
                <p>{{ dyn_detail.body | safe }}</p>
            </div>
        </div>
    </div>
</div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
{% endblock %}