<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新闻中心列表</title>
    <link rel="stylesheet" href="./css/normal.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/newList.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
    <script src="./js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <!-- 导航 nav -->
    <div class="nav-container container">
        <div class="row nav-box-content col-12" style="width: 100%;">
            <div class="mobile-nav col-2">
                <div class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4"><img src="./images/logo-icon.png" alt="logo-icon" style="width: 100%;display: block;"></div>
            <ul class="nav-box col-lg-8 col-md-9 col-sm-8 col-12">
                <li><a href="./index.html" class="nav-item">首页</a></li>
                <li class="nav-project">
                    <p>区块链产品<img src="./images/down_icon.png" alt="down_icon" class="down-icon"></p>
                    <div class="project-option-list">
                        <a href="./project.html" target="_blank">数字货币钱包</a>
                        <a href="./project.html" target="_blank">数字货币硬件钱包</a>
                        <a href="./project.html" target="_blank">数字货币交易所</a>
                        <a href="./project.html" target="_blank">主链联盟链</a>
                        <a href="./project.html" target="_blank">股票交易所</a>
                    </div>
                </li>
                <li class="plan-project">
                    <p>解决方案<img src="./images/down_icon.png" alt="down_icon" class="down-icon"></p>
                    <div class="project-option-list plan-option-list">
                        <a href="./scheme.html" target="_blank">交易所解决方案</a>
                        <a href="./scheme.html" target="_blank">云端钱包解决方案</a>
                        <a href="./scheme.html" target="_blank">HD 钱包解决方案</a>
                        <a href="./scheme.html" target="_blank">硬件钱包解决方案</a>
                        <a href="./scheme.html" target="_blank">云端可干扰的密钥抗丢失解决方案</a>
                        <a href="./scheme.html" target="_blank">主链联盟链跨链解决方案</a>
                    </div>
                </li>
                <li><a href="./research.html" class="nav-item">研究中心</a></li>
                <li><a href="./partner.html" class="nav-item">合作伙伴</a></li>
                <li><a href="./about.html" class="nav-item">关于我们</a></li>
                <li><a href="./newsList.html" class="nav-item">公司动态</a></li>
            </ul>
        </div>
        <div class="nav-list col-12">
            <div class="nav-list-item"><a href="./index.html">首页</a></div>
            <div class="nav-list-item child-list-item child-list-item-1">
                <a href="javascript:;">区块链产品</a>
                <div class="list-icon">
                    <img src="./images/down_icon.png" alt="down_icon" class="down-icon">
                    <img src="./images/down_icon.png" alt="down_icon" class="up-icon" style="transform: rotate(180deg);">
                </div>
            </div>
            <div class="nav-item-list nav-item-list-1">
                <ul>
                    <li><a href="./project.html#">|-&nbsp;&nbsp;数字货币钱包</a></li>
                    <li><a href="./project.html">|-&nbsp;&nbsp;数字货币硬件钱包</a></li>
                    <li><a href="./project.html">|-&nbsp;&nbsp;数字货币交易所</a></li>
                    <li><a href="./project.html">|-&nbsp;&nbsp;主链联盟链</a></li>
                    <li><a href="./project.html">|-&nbsp;&nbsp;股票交易所</a></li>
                </ul>
            </div>
            <div class="nav-list-item child-list-item child-list-item-2">
                <a href="javascript:;">解决方案</a>
                <div class="list-icon">
                    <img src="./images/down_icon.png" alt="down_icon" class="down-icon">
                    <img src="./images/down_icon.png" alt="down_icon" class="up-icon" style="transform: rotate(180deg);">
                </div>
            </div>
            <div class="nav-item-list nav-item-list-2">
                <ul>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;交易所解决方案</a></li>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;云端钱包解决方案</a></li>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;HD钱包解决方案</a></li>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;硬件钱包解决方案</a></li>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;云端可干扰的密钥丢失解决方案</a></li>
                    <li><a href="./scheme.html">|-&nbsp;&nbsp;主链联盟链跨链解决方案</a></li>
                </ul>
            </div>
            <div class="nav-list-item"><a href="./research.html#">研究中心</a></div>
            <div class="nav-list-item"><a href="./partner.html">合作伙伴</a></div>
            <div class="nav-list-item"><a href="./about.html">关于我们</a></div>
            <div class="nav-list-item"><a href="./newsList.html">公司动态</a></div>
        </div>
    </div>
    <script>
        $('.nav-project').mouseenter(function(){
            $(this).find('.down-icon').css('opacity','0')
            $(this).find('.project-option-list').css('display','flex')

        })
        $('.nav-project').mouseleave(function(){
            $(this).find('.down-icon').css('opacity','1')
            $(this).find('.project-option-list').hide()
        })
        $('.plan-project').mouseenter(function(){
            $(this).find('.down-icon').css('opacity','0')
            $(this).find('.project-option-list').css('display','flex')

        })
        $('.plan-project').mouseleave(function(){
            $(this).find('.down-icon').css('opacity','1')
            $(this).find('.project-option-list').hide()
        })
        $('.child-list-item-1').click(function(){
            $('.nav-item-list-1').slideToggle()
            $(this).find('.list-icon img').toggle()
        })
        $('.child-list-item-2').click(function(){
            $('.nav-item-list-2').slideToggle()
            $(this).find('.list-icon img').toggle()
        })
        $('.mobile-nav .icon').click(function(){
            $('.nav-list').slideToggle()
        })
    </script>

    <!-- 头图 banner -->
    <div class="module-tab-banner">
        <img src="./images/news_list_banner.png" alt="research_banner">
    </div>
    <!-- 列表页 -->
    <div class="news-content-box container">
        <div class="row justify-content-center">
            <ul class="hd row">
                <div class="on col-4"><li class="on">常见问题</li></div>
                <div class="on col-4"><li>建站知识</li></div>
                <div class="on col-4"><li>行业资讯</li></div>
            </ul>
        </div>
        <div class="row">
            <div class="bd">
                <div class="bd-item">
                    <ul class="news-list">
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                    </ul>
                    <div class="page-box">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">上一页</a></li>
                            <li><a href="#" class="on">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">末页</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bd-item">
                    <ul class="news-list">
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                    </ul>
                    <div class="page-box">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">上一页</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="on">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">末页</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bd-item">
                    <ul class="news-list">
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                        <li>
                            <div class="news-list-item col-8">
                                <p class="title">这里显示的是新闻的标题</p>
                                <p class="creatTime"><img src="./images/time_icon.png" alt="">2019-08-29</p>
                                <p class="article-introduce">这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容这里显示的是新闻的内容。</p>
                                <a href="#" class="seeDetail">查看详情>></a>
                            </div>
                            <div class="col-4 right-img"><img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01"></div>
                        </li>
                    </ul>
                    <div class="page-box">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">上一页</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="on">3</a></li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.news-content-box').slide({})
    </script>
    <!-- 公共底部 common-footer -->
    <div class="common-footer">
        <div class="footer-content container">
            <div class="row">
                <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                    <li>产品</li>
                    <li>数字货币钱包</li>
                    <li>数字货币硬件钱包</li>
                    <li>数字货币交易所</li>
                    <li>公链联盟链</li>
                    <li>钱包安全系统</li>
                    <li>股票交易所</li>
                    <li>去中心化钱包</li>
                    <li>去中心化交易所</li>
                    <li>密钥协商平台</li>
                    <li>密码保险柜</li>
                </ul>
                <ul class="footer-list col-xl-3 col-lg-4 col-md-4 col-6">
                    <li>解决方案</li>
                    <li>交易所解决方案</li>
                    <li>数字货币云端钱包解决方案</li>
                    <li>公链技术解决方案</li>
                    <li>联盟链接解决方案</li>
                    <li>跨链技术解决方案</li>
                    <li>数字钱包解决方案</li>
                    <li>硬件钱包解决方案</li>
                    <li>交易所风控解决方案</li>
                    <li>去中心化钱包解决方案</li>
                    <li>去中心化交易所解决方案</li>
                    <li>密钥抗丢失解决方案</li>
                    <li>股票交易所解决方案</li>
                </ul>
                <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                    <li>研究院</li>
                    <li>区块链知识产权保护</li>
                    <li>一种云端可干扰的密钥解决方案</li>
                    <li>交易所底层技术</li>
                    <li>5G 流化研究</li>
                    <li>5G 和区块链的融合</li>
                    <li>数字货币银行</li>
                </ul>
                <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                    <li>合作伙伴</li>
                    <li>知鱼财经</li>
                    <li>知鱼网络科技</li>
                    <li>邦国科技</li>
                    <li>问我学院</li>
                    <li>巡宇投贷</li>
                    <li>华严科技</li>
                    <li>家艺家政保洁</li>
                    <li>阿里云</li>
                </ul>
                <div class="contact-box col-xl-3 col-lg-3 col-md-5 col-sm-6 col-7">
                    <p class="contact-title">关注木姜子</p>
                    <div class="qr-code-box">
                        <img src="./images/qrCode_1.png" alt="">
                        <img src="./images/qrCode_2.png" alt="">
                    </div>
                    <ul class="contact-way">
                        <li><img src="./images/footer_concat_1.png" alt=""></li>
                        <li><img src="./images/footer_concat_2.png" alt=""></li>
                        <li><img src="./images/footer_concat_3.png" alt=""></li>
                        <li><img src="./images/footer_concat_4.png" alt=""></li>
                    </ul>
                    <p class="number-phone-box">
                        +86 18210042149<br />
                        周一至周日 8:00 ~ 20:00<br />
                        20123762@s.hlju.edu.cn<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="records-box">
            <p>
                GingerNet_区块链技术开发_钱包系统_数字货币交易系统开发-木姜子科技<br />
                天津木姜子科技有限公司，18210042149，天津市河西区四信大厦 3 层 C306 D402<br />
                © 2018-2020 www.gingernet.vip All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;津ICP备20001736号-2               
            </p>
        </div>
        <div class="goTop" onclick="goToTop()">
            <img src="./images/top_icon.png" alt="">
        </div>
    </div>
    <script>
        var goToTop = function(){
            // var scroll_offset = $(".tek190815 .title1").offset().top;
        $("body,html").animate({
			scrollTop: 0
        }, 500);
        }
    </script>
</body>
</html>