{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
<div class="module-tab-banner">
    <img src="{% static 'images/project_banner.png' %}" alt="research_banner">
</div>
<div class="container">
    <div class="row">
        <div class="page-nav col-12">
            <div class="row">
                <div class="page-nav-item page-nav-item-1 col-3">产品功能</div>
                <div class="page-nav-item page-nav-item-2 col-3">产品优势</div>
                <div class="page-nav-item page-nav-item-3 col-3">帮助文档</div>
                <div class="page-nav-item page-nav-item-4 col-3">应用场景</div>
            </div>
        </div>
    </div>
</div>
<!-- 产品功能 -->
<div class="module-box page-nav-item-1-end">
    <div class="module-title">
        <p>产品功能</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            {% for product_func in product.product_func.all %}
                {% if product_func.position == 'Left' %}
                    <div class="col-12 col-sm-6 product-function product-function-odd">
                        <div class="title">
                            <p class="num-icon"> 0{{ product_func.sequence }}</p>
                            <p class="name">{{ product_func.name }}</p>
                        </div>
                        <p class="introduce">{{ product_func.excerpt }}</p>
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 product-function product-function-even">
                        <div class="title">
                            <p class="num-icon">0{{ product_func.sequence }}</p>
                            <p class="name">{{ product_func.name }}</p>
                        </div>
                        <p class="introduce">{{ product_func.excerpt }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- 产品优势 -->
<div class="module-box gray-module-box page-nav-item-2-end">
    <div class="module-title">
        <p>产品优势</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            {% for product_adv in product.product_adv.all %}
            <div class="col-4">
                <div class="advantage-item">
                    <p class="title">0{{ product_adv.sequence }}</p>
                    <p class="name">{{ product_adv.name }}</p>
                    <p class="introduce">{{ product_adv.excerpt }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- 帮助文档 -->
<div class="module-box page-nav-item-3-end">
    <div class="module-title">
        <p>帮助文档</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container">
        <div class="row">
             {% for product_doc in product.product_doc.all %}
            <div class="col-12 col-lg-6 help-box-item">
                <div class="left-img">
                    <img src="{% url 'index' %}media/{{ product_doc.img }}" alt="">
                </div>
                <div class="right-content">
                    <p class="title">{{ product_doc.name }}</p>
                    <p class="desc">{{ product_doc.excerpt }}</p>
                    <div>
                        <a href="#" target="_blank" class="pre-watch"><img src="{% static 'images/eye_icon.png' %}" alt="">预览</a>
                        <a href="#" target="_blank" class="down-btn"><img src="{% static 'images/download_icon.png' %}" alt="">下载</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- 应用场景 -->
<div class="module-box gray-module-box page-nav-item-4-end">
    <div class="module-title">
        <p>应用场景</p>
        <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
    </div>
    <div class="container">
        <div class="row">
            {% for product_cos in product.product_cos.all   %}
            <div class="col-6 col-sm-4 col-md-4 col-xl-3 scene-item">
                <p class="title">{{ product_cos.name }}</p>
                <p class="name">{{ product_cos.excerpt }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'front/layout/ask.html' %}
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
    <script>
    $('.page-nav-item-1').click(function(){
        var scroll_offset = $(".page-nav-item-1-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-2').click(function(){
        var scroll_offset = $(".page-nav-item-2-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-3').click(function(){
        var scroll_offset = $(".page-nav-item-3-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-4').click(function(){
        var scroll_offset = $(".page-nav-item-4-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
</script>
     <script>
		$('#portfolio-item').cubeportfolio({
			filters: '#portfolio-nav',
			loadMoreAction: 'click',
			// defaultFilter: '*',
			defaultFilter: '.baaspt',
			layoutMode: 'grid',
			animationType: 'quicksand',
			gridAdjustment: 'responsive',
			gapHorizontal: 30,
			gapVertical: 30,
			mediaQueries: [{
				width: 1100,
				cols: 3,
			},{
				width: 768,
				cols: 3,
			}, {
				width: 480,
				cols: 2,
			},{
				width: 0,
				cols: 1,
			}],
			caption: 'overlayBottomPush',
			displayType: 'sequentially',
			displayTypeSpeed: 80,
		});
     </script>
     <script>
        jQuery(".banner-container").slide({mainCell:".bd",autoPlay:true});
    </script>
{% endblock %}