{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
    <div class="banner">
        <div class="banner-content-container">
          <div class="container">
            <div class="row">
              <div class="left-content col-12 col-lg-6">
                <p class="title">{{ product.name }}</p>
                <p class="desc">{{ product.excerpt }}</p>
              </div>
              <div class="col-md-1"></div>
              <div class="right-image col-12 col-sm-10 col-lg-5">
                <img src="{% static '/images/project/product_banner_pic.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
    </div>
  <!-- 页面锚点导航 page-nav-container -->
  <div class="page-nav-container d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(1)">
                <p>产品功能</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(2)">
                <p>产品优势</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(3)">
                <p>帮助文档</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(4)">
                <p>应用场景</p>
            </div>
        </div>
    </div>
  </div>
  <!-- 产品功能 project-func -->
  <div class="project-func page-nav-item-1-end">
      <div class="module-title">
          <p class="title">产品功能</p>
      </div>
      <div class="container">
          <div class="row">
              {% for product_func in product.product_func.all %}
              <div class="col-lg-3 func-item">
                  <img src="{% static 'images/project/funcIcon.jpg' %}" alt="">
                  <p class="func-item-title">{{ product_func.name }}</p>
                  <p  class="func-item-desc">{{ product_func.excerpt }}</p>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

  <!-- 产品优势 project-advantage  -->
  <div class="project-advantage page-nav-item-2-end">
    <div class="module-title">
        <p class="title">产品优势</p>
    </div>
    <div class="container">
        <div class="row">
            {% for product_adv in product.product_adv.all %}
                <div class="col-12 col-md-4">
                    <div class="project-advantage-item d-flex flex-column align-items-center">
                        <p class="blue-line"></p>
                        <img src="{% url 'index' %}media/{{ product_adv.icon }}" alt="{{ product_adv.name }}">
                        <p class="project-advantage-title">{{ product_adv.name }}</p>
                        <p class="project-advantage-desc">{{ product_adv.excerpt }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
  <div class="help-document page-nav-item-3-end">
      <div class="module-title">
          <p class="title">帮助文档</p>
      </div>
      <div class="container">
          <div class="row justify-content-around">
              {% for product_doc in product.product_doc.all %}
              <div class="col-12  col-md-3">
                  <div class="help-document-item d-flex flex-column align-items-center">
                      <p class="help-document-title">{{ product_doc.name }}</p>
                      <p class="blue-line"></p>
                      <p class="help-document-desc">{{ product_doc.excerpt }}</p>
                      <a href="#" class="download-btn">下载</a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
  <div class="use-scene page-nav-item-4-end">
    <div class="module-title">
        <p class="title">应用场景</p>
    </div>
    <div class="container">
        <div class="row">
            {% for product_cos in product.product_cos.all   %}
            <dic class="col-6 col-lg-3 d-flex justify-content-center align-items-center">
                <div class="use-scene-item">
                    <p class="use-scene-title">{{ product_cos.name }}</p>
                    <p class="use-scene-desc">{{ product_cos.excerpt }}</p>
                </div>
            </dic>
            {% endfor %}
        </div>
    </div>
  </div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
    <script>
      let goPageModule = function(num){
            var scroll_offset = $(`.page-nav-item-${num}-end`).offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
      }
    </script>
{% endblock %}