{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/research.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
 <!-- 头图 banner -->
  <div class="banner">
    <div class="banner-content-container">
      <div class="container">
        <div class="row">
          <div class="left-content col-5">
            <p class="title">研究中心</p>
            <p class="desc">专注于区块链底层技术研究分析，包括密码学，共识机制，P2P通信协议等</p>
          </div>
          <div class="col-1"></div>
          <div class="right-image col-5">
            <img src="{% static 'images/research/banner_yanjiuzhongxin.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 研究报告 research-list-container -->
  <div class="research-list-container">
    <div class="container">
        <div class="row">
            {% for research in research_lst %}
                <div class="research-item-box col-12">
                <div class="row">
                    <div class="col-4 col-lg-3 research-item-left d-flex align-items-center">
                        <img src="{% url 'index' %}media/{{ research.img }}" alt="">
                    </div>
                    <div class="col-8 col-lg-9 research-item-right">
                        <p class="research-title">{{ research.name }}</p>
                        <p class="research-desc">{{ research.excerpt }}</p>
                        <div class="bottom-info">
                            <p class="time">{{ research.created_at | hdatetime }}</p>
                            <div class="btn-list">
                                <a href="#" target="_blank">预览</a>
                                <a href="#" target="_blank">下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
{% endblock %}