{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/research.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
     <div class="module-tab-banner">
        <img src="{% static 'images/research_banner.png' %}" alt="research_banner">
    </div>
     <div class="download-container container">
        <div class="row">
            {% for research in research_lst %}
                <div class="download-item col-12 row">
                    <div class="left-img col-3">
                        <img src="{% url 'index' %}media/{{ research.img }}" alt="download_list_1">
                    </div>
                    <div class="right-content col-9">
                        <p class="title">{{ research.name }}</p>
                        <p class="introduce">{{ research.excerpt }}</p>
                        <div class="detail">
                            <p class="date">{{ research.created_at | hdatetime }}</p>
                            <div class="btn-box">
                                <p><a href="#" target="_blank"><img src="{% static 'images/eye_icon.png' %}" alt="">预览</a></p>
                                <p><a href="#" target="_blank"><img src="{% static 'images/download_icon.png' %}" alt="">下载</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% include 'front/layout/ask.html' %}
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
{% endblock %}