{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/scheme.css' %}" />
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
<!-- 头图 banner -->
    <div class="module-tab-banner">
        <img src="{% static 'images/scheme_banner.png' %}" alt="research_banner">
    </div>
    <!-- 页面导航 -->
    <div style="width: 100%;background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="page-nav col-12">
                    <div class="row justify-content-between">
                        <div class="page-nav-item page-nav-item-1 col-2">方案架构</div>
                        <div class="page-nav-item page-nav-item-2 col-2">方案详情</div>
                        <div class="page-nav-item page-nav-item-3 col-2">产品组合</div>
                        <div class="page-nav-item page-nav-item-4 col-2">方案优势</div>
                        <div class="page-nav-item page-nav-item-5 col-2">风控体系</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.page-nav-item-1').click(function(){
            var scroll_offset = $(".page-nav-item-1-end").offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
        })
        $('.page-nav-item-2').click(function(){
            var scroll_offset = $(".page-nav-item-1-end").offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
        })
        $('.page-nav-item-3').click(function(){
            var scroll_offset = $(".page-nav-item-3-end").offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
        })
        $('.page-nav-item-4').click(function(){
            var scroll_offset = $(".page-nav-item-4-end").offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
        })
        $('.page-nav-item-5').click(function(){
            var scroll_offset = $(".page-nav-item-5-end").offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
        })
    </script>
    <!-- 方案架构及详情 -->
    <div class="module-box gray-module-box page-nav-item-1-end">
        <div class="module-title">
            <p>方案架构及详情</p>
            <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
        </div>
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <img src="{% url 'index' %}media/{{ solution.img }}" alt="" style="display: block;width: 100%;">
            </div>
        </div>
    </div>
    <script>
        var closeItem = function(){
            var item = $(event.srcElement).parents('.produce-group-item');
            item.find('.item-content').slideUp('slow',function(){
                item.find('.item-title').removeClass('show-list')
            })
        }
        var openItem = function(){
            var item = $(event.srcElement).parents('.produce-group-item');
            $('.produce-group-item .item-title').removeClass('show-list')
            $('.produce-group-item .item-content').slideUp('slow')
            item.find('.item-content').slideDown('slow',function(){
                item.find('.item-title').addClass('show-list')
            })
        }
    </script>

    <!-- 产品组合 -->
    <div class="module-box page-nav-item-3-end">
        <div class="module-title">
            <p>产品组合</p>
            <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
        </div>
        <div class="produce-group container">
            <div class="row">
                {% for product in  solution.product.all %}
                    <div class="produce-group-item">
                        <div class="item-title show-list">
                            <div class="item-name-box">
                                <p class="item-name">{{ product.name }}</p>
                            </div>
                            <div class="item-icon-box">
                                <div onclick='closeItem()'>
                                    <img src="{% static 'images/jian_icon.png' %}" alt="" class="jian-icon" >
                                </div>
                                <div onclick="openItem()">
                                    <img src="{% static 'images/jia_icon.png' %}" alt="" class="jia-icon">
                                </div>
                            </div>
                        </div>
                        <div class="item-introduce">{{ product.excerpt }}</div>
                        <div class="item-content">
                            <div class="row">
                                {% for product_func in  product.product_func.all %}
                                <div class="col-12 col-md-6 item-content-item">
                                    <p class="title">{{ product_func.name }}</p>
                                    <p class="desc">{{ product_func.excerpt }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- 方案优势 -->
    <div class="module-box gray-module-box page-nav-item-4-end">
        <div class="module-title">
            <p>方案优势</p>
            <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
        </div>
        <div class="container" style="margin-top: 50px;">
            <div class="row">
                {% for solution_adv in solution.solution_adv.all %}
                    {% if  solution_adv.position == 'left'%}
                        <div class="col-12 col-sm-6 product-function product-function-odd">
                            <div class="title">
                                <p class="num-icon">0{{ solution_adv.sequence }}</p>
                                <p class="name">{{ solution_adv.title }}</p>
                            </div>
                            <p class="introduce">{{ solution_adv.excerpt }}</p>
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 product-function product-function-even">
                            <div class="title">
                                <p class="num-icon">0{{ solution_adv.sequence }}</p>
                                <p class="name">{{ solution_adv.title }}</p>
                            </div>
                            <p class="introduce">{{ solution_adv.excerpt }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 风控体系 -->
    <div class="module-box page-nav-item-5-end">
        <div class="module-title">
            <p>风控体系</p>
            <img src="{% static 'images/title-icon.png' %}" alt="title-icon">
        </div>
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                {% for solution_wc in solution.solution_wc.all %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="advantage-item">
                        <p class="title">{{ solution_wc.sequence }}</p>
                        <p class="name">{{ solution_wc.title }}</p>
                        <p class="introduce">{{ solution_wc.excerpt }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% include 'front/layout/ask.html' %}
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
    <script>
    $('.page-nav-item-1').click(function(){
        var scroll_offset = $(".page-nav-item-1-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-2').click(function(){
        var scroll_offset = $(".page-nav-item-2-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-3').click(function(){
        var scroll_offset = $(".page-nav-item-3-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
    $('.page-nav-item-4').click(function(){
        var scroll_offset = $(".page-nav-item-4-end").offset().top;
        $("body,html").animate({
            scrollTop: scroll_offset
        }, 500);
    })
</script>
     <script>
		$('#portfolio-item').cubeportfolio({
			filters: '#portfolio-nav',
			loadMoreAction: 'click',
			// defaultFilter: '*',
			defaultFilter: '.baaspt',
			layoutMode: 'grid',
			animationType: 'quicksand',
			gridAdjustment: 'responsive',
			gapHorizontal: 30,
			gapVertical: 30,
			mediaQueries: [{
				width: 1100,
				cols: 3,
			},{
				width: 768,
				cols: 3,
			}, {
				width: 480,
				cols: 2,
			},{
				width: 0,
				cols: 1,
			}],
			caption: 'overlayBottomPush',
			displayType: 'sequentially',
			displayTypeSpeed: 80,
		});
     </script>
     <script>
        jQuery(".banner-container").slide({mainCell:".bd",autoPlay:true});
    </script>
{% endblock %}