{% extends 'front/layout/main.html' %}
{% load staticfiles ginger_tags %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/solution.css'%}">
{% endblock %}
{% block body %}
{% include 'front/layout/nav.html' %}
    <div class="banner">
    <div class="banner-content-container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="left-content col-12 col-lg-4">
            <p class="title">{{ solution.name }}</p>
            <p class="desc">{{ solution.excerpt }}</p>
          </div>
          <div class="col-1"></div>
          <div class="right-image col-7">
            <img src="{% static 'images/solution/scheme_pic.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-nav-container d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(1)">
                <p>方案架构</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(2)">
                <p>产品组合</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(3)">
                <p>方案优势</p>
            </div>
            <div class="col-3 page-nav-item align-items-center" onclick="goPageModule(4)">
                <p>风控体系</p>
            </div>
        </div>
    </div>
  </div>
  <div class="scheme-box page-nav-item-1-end">
        <div class="module-title">
            <p class="title">方案架构及详情</p>
        </div>
        <div class="container" style="margin-top: 40px;">
            <div class="row no-gutters">
                <div class="col-lg-7 col-12">
                    <img src="{% url 'index' %}media/{{ solution.img }}" alt="" style="display: block;width: 100%;">
                </div>
                <div class="scheme-detail-content col-lg-5 col-12">
                    <img src="{% static 'images/solution/scheme_detail_icon.png' %}" alt="">
                    <div class="scheme-introduce">
                        <p class="title">方案详情</p>
                        <p>{{ solution.detail | safe }}</p>
                    </div>
                    <img src="{% static 'images/solution/scheme_detail_icon.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="project-group page-nav-item-2-end">
        <div class="module-title">
            <p class="title">产品组合</p>
        </div>
        <div class="container project-group-content">
            <div class="row">
                <div class="col-12">
                    {% for product in  solution.product.all %}
                    <div class="project-group-item">
                        <div class="group-item-title">
                            <p>{{ product.name }}</p>
                            <img src="{% static 'images/solution/arrow-icon.png' %}" alt="" onclick="showIntroduce()">
                        </div>
                        <div class="group-item-content">
                            <p>{{ product.excerpt }}</p>
                        </div>
                        <div class="group-item-introduce">
                            <ul class="introduce-list d-flex justify-content-between">
                                <div class="container">
                                    <div class="row">
                                        {% for product_func in  product.product_func.all %}
                                        <li class="col-6 col-md-3">
                                            <p class="introduce-item-title">{{ product_func.name }}</p>
                                            <p class="introduce-item-desc">{{ product_func.excerpt }}</p>
                                        </li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scheme-advantage page-nav-item-3-end">
        <div class="module-title">
            <p class="title">方案优势</p>
        </div>
        <div class="container">
            <div class="row">
                 {% for solution_adv in solution.solution_adv.all %}
                <div class="col-12 col-md-6">
                    <div class="scheme-advantage-item">
                        <p class="number-icon">0{{ solution_adv.sequence }}</p>
                        <p class="scheme-advantage-title">{{ solution_adv.title }}</p>
                        <p class="scheme-advantage-desc">{{ solution_adv.excerpt }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="risk-management page-nav-item-4-end">
        <div class="module-title">
            <p class="title">风控体系</p>
        </div>
        <div class="container">
            <div class="row">
                {% for solution_wc in solution.solution_wc.all %}
                <div class="col-12 col-md-4">
                    <div class="project-advantage-item d-flex flex-column align-items-center">
                        <p class="blue-line"></p>
                        <p class="zero-icon">0{{ solution_wc.sequence }}</p>
                        <p class="project-advantage-title">{{ solution_wc.title }}</p>
                        <p class="project-advantage-desc">{{ solution_wc.excerpt }}</p>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
{% include 'front/layout/bottom.html' %}
{% include 'front/layout/right.html' %}
{% endblock %}
{% block script %}
  <script>
      let goPageModule = function(num){
            var scroll_offset = $(`.page-nav-item-${num}-end`).offset().top;
            $("body,html").animate({
                scrollTop: scroll_offset
            }, 500);
      }
  </script>
   <script>
        let showIntroduce = function(){
            $(event.target).toggleClass('show-introduce')
            $(event.target).parents(".project-group-item").find('.group-item-introduce').slideToggle();
        }
   </script>
   <script>
        let showIntroduce = function(){
            $(event.target).toggleClass('show-introduce')
            $(event.target).parents(".project-group-item").find('.group-item-introduce').slideToggle();
        }
    </script>
{% endblock %}