<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>木姜子科技官网</title>
    <link rel="stylesheet" href="./css/normal.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/cube-portfolio.min.css">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="./js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="./js/cube-portfolio.min.js"></script>
    <script src="./js/owl.carousel.js"></script>
</head>
<body>

    <!-- 头图 banner -->
    <div class="banner-container">
        <ul class="bd">
            <li><a href="#"><img src="./images/banner_1.png" alt="banner"></a></li>
            <li><a href="#"><img src="./images/banner_2.png" alt="banner"></a></li>
            <li><a href="#"><img src="./images/banner_3.png" alt="banner"></a></li>
            <li><a href="#"><img src="./images/banner_4.png" alt="banner"></a></li>
        </ul>
        <ul class="hd">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script>
        jQuery(".banner-container").slide({mainCell:".bd",autoPlay:true});
    </script>
    <!-- 一直不懈的努力，提供最好的服务我们，随时随地待命 -->
    <div class="module-box">
        <div class="module-title">
            <p>一直不懈的努力，提供最好的服务我们，随时随地待命</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <ul class="serve-box container">
            <div class="row justify-content-between">
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_1.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">技术团队</p>
                        <p class="serve-item-content">拥有强大的技术团队，我们一直秉承技术改变生态的理念</p>
                    </div>
                </li>
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_2.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">经验丰富</p>
                        <p class="serve-item-content">拥有多年的项目经验、核心技术，结合企业需要，定制出适合的软件</p>
                    </div>
                </li>
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_3.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">专属研发</p>
                        <p class="serve-item-content">为每一个项目组分配一个独立的团队，成为您的专属研发团队</p>
                    </div>
                </li>
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_4.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">技术团队</p>
                        <p class="serve-item-content">拥有强大的技术团队，我们一直秉承技术改变生态的理念</p>
                    </div>
                </li>
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_5.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">经验丰富</p>
                        <p class="serve-item-content">拥有多年的项目经验、核心技术，结合企业需要，定制出适合的软件</p>
                    </div>
                </li>
                <li class="col-xl-4 col-md-6 col-12">
                    <div class="server-item">
                        <div class="img-box">
                            <img src="./images/serve_6.png" alt="serve_1">
                        </div>
                        <p class="serve-item-title">专属研发</p>
                        <p class="serve-item-content">为每一个项目组分配一个独立的团队，成为您的专属研发团队</p>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <!-- 全国领先的区块链技术服务提供商 -->
    <div class="module-box gray-module-box">
        <div class="module-title">
            <p>全国领先的区块链技术服务提供商</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/cutting_icon_1.png" alt="cutting_icon_1">
                    <p>交易所钱包</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_2.png" alt="cutting_icon_1">
                    <p>公链联盟链</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_3.png" alt="cutting_icon_1">
                    <p>交易所</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_4.png" alt="cutting_icon_1">
                    <p>OTC系统</p>
                </div>
            </li>
        </ul>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/cutting_icon_5.png" alt="cutting_icon_1">
                    <p>撮合系统</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_6.png" alt="cutting_icon_1">
                    <p>法币系统</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_7.png" alt="cutting_icon_1">
                    <p>去中心化交易所</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_8.png" alt="cutting_icon_1">
                    <p>量化系统</p>
                </div>
            </li>
        </ul>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/cutting_icon_9.png" alt="cutting_icon_1">
                    <p>HD钱包</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_10.png" alt="cutting_icon_1">
                    <p>云端钱包</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_11.png" alt="cutting_icon_1">
                    <p>EOS钱包</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/cutting_icon_12.png" alt="cutting_icon_1">
                    <p>DAPP</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- 技术解决方案 -->
    <div class="module-box">
        <div class="module-title">
            <p>技术解决方案</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-main">
                        <div id="portfolio-item" class="portfolio-item-active">
                            <!-- BaaS平台-蚂蚁链BaaS平台 -->
                            <div class="cbp-item  baaspt">
                                <div class="portfolio-single">
                                    <div class="portfolio-img">
                                        <img src="./images/technology_1.png" alt="#">
                                    </div>
                                    <div class="portfolio-content">
                                        <h4><a href="mayilian_Baas_pingtai.html">公链联盟链</a></h4>
                                        <p>帮助企业快速开发公链，联盟链底层技术平台，便于企业业务的快速接入， 目前木姜子科技已经完成公链和联盟的快速开发部署， 短时间内为您定制开发底层链</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End BaaS平台-蚂蚁链-开放联盟链  -->
                            <!-- BaaS平台-蚂蚁链BaaS平台 -->
                            <div class="cbp-item  baaspt">
                                <div class="portfolio-single">
                                    <div class="portfolio-img">
                                        <img src="./images/technology_2.png" alt="#">
                                    </div>
                                    <div class="portfolio-content">
                                        <h4><a href="mayilian_kaifanglianmenglian.html">钱包技术</a></h4>
                                        <p>钱包定制化开发，包括去中心化钱包中心化钱包，云端钱包和交易所钱包去中心化钱包提供密钥的抗丢组件，中心化钱包提供多重签名的资产托管服务。不管技术有多难，二周内可完成一个钱包的定制化开发。</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End BaaS平台-蚂蚁链-开放联盟链  -->
                            <!-- BaaS平台-蚂蚁链一体机 -->
                            <div class="cbp-item  baaspt">
                                <div class="portfolio-single">
                                    <div class="portfolio-img">
                                        <img src="./images/technology_3.png" alt="#">
                                    </div>
                                    <div class="portfolio-content">
                                        <h4><a href="mayilianyitiji.html">交易所</a></h4>
                                        <p>提供交易所快速搭建和业务组合推荐服务，部署方式灵活多样，系统运维可托管，支持需求定制化开发，每个项目全程配备专人项目经理。</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End BaaS平台-蚂蚁链一体机  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
		$('#portfolio-item').cubeportfolio({
			filters: '#portfolio-nav',
			loadMoreAction: 'click',
			// defaultFilter: '*',
			defaultFilter: '.baaspt',
			layoutMode: 'grid',
			animationType: 'quicksand',
			gridAdjustment: 'responsive',
			gapHorizontal: 30,
			gapVertical: 30,
			mediaQueries: [{
				width: 1100,
				cols: 3,
			},{
				width: 768,
				cols: 3,
			}, {
				width: 480,
				cols: 2,
			},{
				width: 0,
				cols: 1,
			}],
			caption: 'overlayBottomPush',
			displayType: 'sequentially',
			displayTypeSpeed: 80,
		});
    </script>
    <!-- 我们精于区块链，但不局限区块链 -->
    <div class="module-box gray-module-box">
        <div class="module-title">
            <p>我们精于区块链，但不局限区块链</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/blockchain_icon_1.png" alt="cutting_icon_1">
                    <p>股票交易所</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_2.png" alt="cutting_icon_1">
                    <p>中间件</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_3.png" alt="cutting_icon_1">
                    <p>分布式应用</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_4.png" alt="cutting_icon_1">
                    <p>机构平台搭建</p>
                </div>
            </li>
        </ul>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/blockchain_icon_5.png" alt="cutting_icon_1">
                    <p>桌面应用</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_6.png" alt="cutting_icon_1">
                    <p>APP</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_7.png" alt="cutting_icon_1">
                    <p>微信小程序</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_8.png" alt="cutting_icon_1">
                    <p>量化系统</p>
                </div>
            </li>
        </ul>
        <ul class="cutting-box">
            <li>
                <div>
                    <img src="./images/blockchain_icon_9.png" alt="cutting_icon_1">
                    <p>白皮书编写</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_10.png" alt="cutting_icon_1">
                    <p>推广方案设计</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_11.png" alt="cutting_icon_1">
                    <p>软文编写</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/blockchain_icon_12.png" alt="cutting_icon_1">
                    <p>媒体服务</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- 媒体动态 -->
    <div class="module-box container">
        <div class="module-title">
            <p>媒体动态</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <div class="container">
            <ul class="media-box row">
                <li class="col-lg-3 col-md-6 col-12">
                    <div class="media-item">
                        <img src="./images/heixinyoushi_01.png" alt="heixinyoushi_01.png">
                        <div class="media-text">
                            <p class="media-title">面向未来的区块链基石</p>
                            <p class="media-content">蚂蚁链连续三年全球区块链专利申请第一，致力打造大规模商用区块链基石…</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 col-12">
                    <div class="media-item">
                        <img src="./images/heixinyoushi_02.png" alt="heixinyoushi_01.png">
                        <div class="media-text">
                            <p class="media-title">引领行业实践</p>
                            <p class="media-content">坚持服务实体经济和可持续的商业模式，目前已落地50多个应用场景…</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 col-12">
                    <div class="media-item">
                        <img src="./images/heixinyoushi_03.png" alt="heixinyoushi_01.png">
                        <div class="media-text">
                            <p class="media-title">开放生态连接</p>
                            <p class="media-content">打通阿里巴巴经济体生态，提供开放创新的区块链应用和业务合作模式…</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 col-12">
                    <div class="media-item">
                        <img src="./images/heixinyoushi_04.png" alt="heixinyoushi_01.png">
                        <div class="media-text">
                            <p class="media-title">普惠理念驱动</p>
                            <p class="media-content">秉承蚂蚁集团的普惠理念，让区块链解决社会实际问题，为更多人服务…</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 我们的客户 -->
    <div class="module-box gray-module-box">
        <div class="module-title">
            <p>我们的客户</p>
            <img src="./images/title-icon.png" alt="title-icon">
        </div>
        <div class="client-container container">
            <div class="row">
                <div class="client-box col-10 owl-carousel">
                    <div>XQS ToKen</div>
                    <div>UmiCash</div>
                    <div>Biwork</div>
                    <div>FBT</div>
                    <div>AskMe</div>
                    <div>Ginger</div>
                    <div>OBT</div>
                    <div>HuoXing</div>
                    <div>巡宇支付</div>
                    <div>知鱼行</div>
                    <div>三道文化</div>
                    <div>Soumi</div>
                    <div>西南家政</div>
                    <div>家政服务超市</div>
                    <div>TBS Wallet</div>
                    <div>幸运兔 DAPP</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.client-box').owlCarousel({
            items: 6,
            loop:true,
            autoplay: true,
            autoplayTimeout: 2000,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                576:{
                    items:3
                },
                768: {
                    items:3
                },
                960: {
                    items:4
                },
                1140:{
                    items:6
                }
            }
        })
    </script>



</body>
</html>