
.nav-box{width: 100%;background-color: #002AFF;display: flex;align-items: center;}
.mobile-nav-container{background-color: #002AFF;}
.article-content{width: 100%;padding-top: 39px;padding-bottom: 20px;border-bottom: 1px solid #DDDDDD;}
.article-content .back-btn{
    font-size: 20px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #222222;
    margin-bottom: 26px;
    text-decoration: none;
    display: block;
}
.article-content .acticle-title{ 
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 60px;
}
.article-content .acticle-time{
    font-size: 16px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #666666;
    margin-bottom: 60px;
}
.article-content img{width: 100%;}
.other-title{
    width: 120px;
    font-size: 24px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #4294F7;
    line-height: 36px;
    padding: 0 10px;
    border-left: 1px solid #4294F7;
    border-right: 1px solid #4294F7;
    margin-top: 20px;
}
.next-acticle a{
    color: #666666;
}


