html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	/*border:0;
	*/
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
	font-weight:100;
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}

a {
	color:#666;
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}
/* 公共模块样式 */
.module-title .title{font-size: 40px;font-family: PingFang SC;font-weight: bold;color: #333333;line-height: 46px;text-align: center;margin-bottom: 0;}
.module-title .desc{font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #999999;line-height: 46px;text-align: center;margin-bottom: 0;}
/* 导航 nav-container */
.nav-container{height: 86px;z-index: 9;position: relative;padding: 18px 0;display: none;}
.nav-container .logo{width: 160px;}
.nav-container .logo img{width: 100%;}
.nav-container .nav-list-container{display: flex;justify-content: space-between;align-items: center;margin-bottom: 0;}
.nav-container .nav-list-container li{margin: 0 10px;}
.nav-container .nav-list-container li a{color: #fff;padding-bottom: 4px;text-decoration: none;font-size: 12px;}
.nav-container .nav-list-container li a.is-active{border-bottom: 4px solid #fff;}
.nav-container .more-link{width: 100%;padding: 30px 17px 20px;background-color: #fff;justify-content: space-between;align-items: center;flex-wrap: wrap;margin-top: 5px;border-radius: 6px;display: none;}
.nav-container .more-link a{flex: 25%;max-width: 25%;margin-bottom: 10px;font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #222222;text-decoration: none;}

.mobile-nav-container{height: 86px;}
.mobile-nav-container .mobile-nav-row{display: flex;justify-content: space-between;align-items: center;padding: 10px 20px;}
.mobile-nav-container .mobile-logo{width: 160px;}
.mobile-nav-container .icon{cursor:pointer;height: 18px;width: 22px;display: flex;flex-direction: column;justify-content: space-between;}
.mobile-nav-container .icon span{width: 22px;height: 2px;background-color: #fff;}
.mobile-nav-container .nav-list{background-color: #fff;position: relative;z-index: 99999;}
.mobile-nav-container .nav-list .nav-list-item{border-bottom: 1px solid #ebebeb;}
.mobile-nav-container .nav-list .nav-list-item:last-child{border-bottom: 1px solid #ebebeb;}
.mobile-nav-container .nav-list .nav-list-item.child-list-item{display: flex;justify-content: space-between;align-items: center;cursor: pointer;}
.mobile-nav-container .nav-list a{display: block;font-size: 14px;line-height: 30px;color: #333;height: 30px;text-decoration: none;}
.mobile-nav-container .nav-list{display: none;}
.mobile-nav-container .nav-list .nav-item-list{display: none;}
.mobile-nav-container .nav-list .nav-item-list ul li a{padding-left: 10px;}
.mobile-nav-container .nav-list .nav-list-item .list-icon{cursor: pointer;width: 14px;}
.mobile-nav-container .nav-list .nav-list-item .list-icon img{display: block;width: 100%;}
.mobile-nav-container .nav-list .nav-list-item .list-icon img.up-icon{display: none;}


/* 立即咨询 advisory-container */
.advisory-container{padding: 80px 0;}
.advisory-container .module-title p{text-align: left;margin-bottom: 20px;}
.advisory-container .advisory-content .advisory-content-left{display: flex;flex-direction: column;justify-content: space-between;}
.advisory-container .advisory-content .advisory-content-left .ipt{display: block;width: 100%;background: #F8F7FD;border: 1px solid #DFDFDF;border-radius: 5px;font-size: 16px;line-height: 20px;font-family: PingFang SC;font-weight: 400;color: #333;padding: 0 30px;margin-bottom: 20px;}
.advisory-container .advisory-content .advisory-content-left .ipt.short-ipt{height: 55px;}
.advisory-container .advisory-content .advisory-content-left .ipt.long-ipt{height: 135px;resize: none;padding: 20px 30px;}
.advisory-container .advisory-content .advisory-content-left .submit-btn{width: 150px;height: 50px;background: #002AFF;box-shadow: 0px 6px 12px 0px rgba(97, 71, 240, 0.34);border-radius: 25px;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;line-height: 50px;text-align: center;cursor: pointer;margin-bottom: 20px;}
.advisory-container .advisory-content .advisory-content-right{width: 555px;padding: 5px;border-radius: 5px;border: 1px solid #eee;display: flex;justify-content: center;align-items: center;}
.advisory-container .advisory-content .advisory-content-right img{display: block;width: 100%;}


/* 底部 footer */
.footer-container{background-color: #191D2C;}
.footer-container .footer-top-container{background-color: #212538;padding: 29px 0 56px;}
.footer-container .footer-top-container ul li a{font-size: 12px;font-family: PingFang SC;font-weight: 400;color: #AAAAAA;line-height: 32px;}
.footer-container .footer-top-container ul li.title{font-size: 16px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;line-height: 32px;}
.footer-container .footer-top-container img.weixin{width: 120px;}
.footer-container .footer-top-container .weixin-container{display: flex;align-items: center;}
.footer-container .footer-bottom-container{display: flex;align-items: center;padding: 10px 0;}
.footer-container .footer-bottom-container p{margin-bottom: 0;text-align: center;color: #AAAAAA;font-size: 12px;}
.footer-container .footer-bottom-container p a{color: #AAAAAA;}

/* 右侧漂浮 right-float */
.right-float{width: 70px;height: 249px;background: #fff;position: fixed;padding: 10px;border-radius: 5px;right: 15px;bottom: 200px;z-index: 12;box-shadow: 2px 2px 10px #ccc;font-size: 12px;}
.right-float ul li{width: 100%;margin-bottom: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.right-float ul li a{position:relative;width: 100%;margin-bottom: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;color: #333;text-decoration: none;}
.right-float ul li a .info{position: absolute;
    right: 70px;
    border-radius: 5px;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    text-align: center;
    background: #389af1;
    color: #fff;
    transition: all 3s linear;}
    .right-float ul li a .info img{
        width: 120px;
        height: 120px;
        object-fit: contain;
        border-radius: 4px;
    }
    .right-float ul li a .info::after{
        content: " ";
        position: absolute;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: #389af1;
        z-index: -7;
        top: 50%;
        margin-top: -6px;
        right: -5px;
    }

.right-float ul li img{width: 28px;}
.right-float ul li.right-title{margin-bottom: 10px;}
.right-float ul li.right-title img{width: 100%;}
.user-modal{    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.user-close {
    position: absolute;
    right: -5px;
    top: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    background-color: #f5f5f5;
    color: #708090;
    cursor: pointer;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
}
.user-modal .user-main{
    position: relative;
    width: 300px;
    min-height: 380px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    position: fixed;
    top: 50%;
    margin-top: -230px;
    left: 50%;
    margin-left: -150px;
}
.user-main h5 {
    text-align: center;
    padding: 20px 10px 0;
    font-size: 15px;
}
.user-modal .user-form-ul{    list-style: none;
    margin: 0;
    padding: 0 20px;}
    .user-form-ul li p{
        color: rgba(0,0,0,.85);
        padding: 10px 0 5px;
        margin: 0;
    }
    .user-form-ul li input, .user-form-ul li textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 2px 8px;
        font-size: 13px;
        resize: none;
    }
    .user-form-ul li.user-btn {
        text-align: center;
    }
    .user-form-ul li.user-btn .user-confirm {
        height: 35px;
        line-height: 35px;
        letter-spacing: 5px;
        text-align: center;
        width: 160px;
        display: inline-block;
        margin: 10px auto;
        background-color: #389af1;
        color: #fff;
        outline: none;
        border: 0;
        border-radius: 5px;
    }

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 576px){
	.nav-container .logo{width: 110px;}
	.nav-container{display: block;}
	.nav-container .nav-list-container li{margin: 0 5px;}
	.mobile-nav-container{display: none;}
}
/* 小屏幕（平板，大于等于 768px screen-sm-min ） */
@media (min-width: 768px) { 
	.nav-container{display: block;}
	.mobile-nav-container{display: none;}
}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
	.nav-container{display: block;}
	.nav-container .nav-list-container li a{font-size: 16px;}
	.nav-container .nav-list-container li{margin: 0 20px;}
	.mobile-nav-container{display: none;}
	.advisory-container .advisory-content .advisory-content-left .ipt{margin-bottom: 10px;}
	.advisory-container .advisory-content .advisory-content-left .submit-btn{margin-bottom: 0;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
	.nav-container{display: block;}
	.nav-container .nav-list-container li a{font-size: 16px;}
	.nav-container .nav-list-container li{margin: 0 20px;}
	.mobile-nav-container{display: none;}
	.advisory-container .advisory-content .advisory-content-left .ipt{margin-bottom: 0;}
	.advisory-container .advisory-content .advisory-content-left .submit-btn{margin-bottom: 0;}
}
