/* 头图 banner */
.banner{width: 100%;margin-top: -86px;height: 880px;background: url('../images/index/banner.png') center center no-repeat;}
.banner .banner-content-container{padding-top: 240px;}
.banner .banner-content-container .left-content .title{font-size: 33px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;margin-top: 54px;margin-bottom: 30px;}
.banner .banner-content-container .left-content .desc{font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #F8EAFF;line-height: 24px;;margin-bottom: 40px;}
.banner .banner-content-container .left-content .detail-btn{width: 150px;height: 50px;background: #002AFF;border-radius: 24px;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;display: flex;justify-content: center;align-items: center;text-decoration: none;}
.banner .banner-content-container .right-image{display: flex;align-items: center;}
.banner .banner-content-container .right-image img{display: block;width: 100%;}
/* 我们的优势 owner-forte */
.owner-forte{padding: 80px 0 100px;}
.owner-forte .owner-forte-item{padding: 30px 20px;margin-bottom: 20px;}
.owner-forte .owner-forte-item:hover{box-shadow: 0px 10px 40px 0px rgba(124, 39, 205, 0.1);border-radius: 20px;}
.owner-forte .owner-forte-item .title{font-size: 20px;font-family: PingFang SC;font-weight: 400;margin: 10px 0;line-height: 32px;color: #333333;}
.owner-forte .owner-forte-item .desc{font-size: 16px;font-family: PingFang SC;font-weight: 400;color: #666666;line-height: 26px;text-align: justify;margin-bottom: 0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:4;}
.owner-forte .owner-forte-content{margin-top: 40px;}
.owner-forte .owner-forte-content .owner-forte-block{display: none;}
/* 我们的客户 owner-client */
.owner-client-container{padding: 60px 0;background: #002AFF;}
.owner-client-container .title{font-size: 40px;font-family: PingFang SC;font-weight: bold;color: #FFFFFF;margin-bottom: 3px;}
.owner-client-container .desc{font-size: 16px;font-family: PingFang SC;font-weight: 500;color: #FFFFFF;line-height: 27px;opacity: 0.75;}
.owner-client-container .map-img{display: block;width: 100%;margin-top: 40px;}
/* 服务提供商 serve-container */
.serve-container{width: 100%;padding: 142px 0 186px;}
.serve-container .server-item{margin-top: 110px;}
.serve-container .server-item img{display: block;width: 80px;}
.serve-container .server-item .serve-name{font-size: 21px;font-family: PingFang SC;font-weight: 400;color: #333333;margin-top: 36px;}

/* 技术解决方案 solution-container */
.solution-container{width: 100%;background: #F2F2F2;padding: 100px 0;}
.solution-container .solution-content{margin-top: 60px;}
.solution-container .solution-content .img-container img{display: block;width: 100%;}
.solution-container .solution-content .right-content .solution-title{margin-top: 30px;font-size: 18px;font-family: PingFang SC;font-weight: bold;color: #333333;line-height: 33px;margin-bottom: 0;}
.solution-container .solution-content .right-content .solution-desc{margin-top: 24px;font-size: 12px;font-family: PingFang SC;font-weight: 400;color: #999999;line-height: 20px;}
.solution-container .solution-content .right-content .more-btn{width: 100px;height: 30px;background: #002AFF;border-radius: 25px;margin-bottom: 20px;display: flex;justify-content: center;align-items: center;text-decoration: none;font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;line-height: 24px;}
.solution-container .solution-content .hd{width: 100%;height: 10px;display: flex;justify-content: center;align-items: center;margin-top: 64px;}
.solution-container .solution-content .hd li{width: 35px;height: 10px;background: #002AFF;opacity: 0.5;border-radius: 5px;margin: 0 10px;cursor: pointer;}
.solution-container .solution-content .hd li.on{opacity: 1;}
/* master-container */
.master-container{width: 100%;height: 341px;background-color: #002AFF;}
.master-box{width: 100%;height: 341px;background: url('../../../../../Desktop/mujiangziguangwang/mujiangziguangwang/images/index/bj_pic.png') center center no-repeat;padding-top: 138px;padding-bottom: 38px;box-sizing: border-box;}
.master-box p{font-size: 38px;font-family: PingFang SC;font-weight: 500;color: #FFFFFF;line-height: 46px;text-align: center;}
.master-box a{display: block;width: 150px;height: 50px;background: #FFFFFF;border-radius: 24px;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #002AFF;line-height: 21px;text-decoration: none;}
/* 新闻资讯 new-information  */
.new-information{width: 100%;box-sizing: border-box;padding: 80px 0 70px;}
.new-information .new-information-item{height: 420px;border: 1px solid #EAF0FF;box-shadow: 0px 2px 8px 0px rgba(76, 92, 221, 0.1);border-radius: 10px;}
.new-information .new-information-item img{width: 100%;height: 200px;}
.new-information .new-information-item .information-info{height: 220px;display: flex;flex-direction:column;justify-content: space-between;box-sizing: border-box;padding: 20px;}
.new-information .new-information-item .information-info .news-title{font-size: 20px;line-height:24px;font-family: PingFang SC;font-weight: 400;color: #333333;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;margin-bottom: 0;}
.new-information .new-information-item .information-info .news-desc{font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #999999;line-height: 24px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;margin-bottom: 0;}
.new-information .new-information-item .information-info .news-time{font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #999999;line-height: 24px;margin-bottom: 0;}
.new-information .new-information-content{margin-top: 80px;}
.new-information .new-information-content .more-btn{display: flex;justify-content: center;align-items: center;width: 150px;height: 50px;background: #002AFF;box-shadow: 0px 6px 12px 0px rgba(97, 71, 240, 0.34);border-radius: 25px;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;margin: 62px auto 0;text-decoration: none;}
/* 合作伙伴 cooperative-partner */
.cooperative-partner{width: 100%;background-color: #F2F2F2;padding: 100px 0;}
.cooperative-partner .cooperative-content{margin-top: 60px;}
.cooperative-partner .cooperative-content .cooperative-item{margin-bottom: 14px;}
.cooperative-partner .cooperative-content .cooperative-item p:hover{background: #002AFF;color: #fff;}
.cooperative-partner .cooperative-content .cooperative-item p{width:100%;background: #F8F8F8;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #999;margin-bottom: 0;height: 61px;}
.cooperative-partner .cooperative-content .cooperative-white-block{display: none;}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 576px){
}
/* 小屏幕（平板，大于等于 768px screen-sm-min ） */
@media (min-width: 768px) { 
    .solution-container .solution-content .right-content .solution-title{margin-top: 0;}
}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
    .owner-forte .owner-forte-content .owner-forte-block{display: block;}
    .solution-container .solution-content .right-content .solution-title{margin-top: 0;}
    .cooperative-partner .cooperative-content .cooperative-white-block{display: block;}
    .banner .banner-content-container .left-content .title{font-size: 54px;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
    .owner-forte .owner-forte-content .owner-forte-block{display: block;}
    .solution-container .solution-content .right-content .solution-title{margin-top: 0; font-size: 33px;font-family: PingFang SC;font-weight: bold;color: #333333;line-height: 33px;margin-bottom: 0;}
    .solution-container .solution-content .right-content .solution-desc{margin-top: 24px;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #999999;line-height: 33px;}
    .solution-container .solution-content .right-content .more-btn{width: 150px;height: 50px;background: #002AFF;border-radius: 25px;margin-bottom: 20px;display: flex;justify-content: center;align-items: center;text-decoration: none;font-size: 20px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;line-height: 24px;}
    .cooperative-partner .cooperative-content .cooperative-white-block{display: block;}
    .banner .banner-content-container .left-content .title{font-size: 54px;}
    .banner .banner-content-container{padding-top: 240px;}
}