/* 头图 banner */
.banner{width: 100%;margin-top: -86px;height: 878px;background: url('../images/research/banner.png') center center no-repeat;}
.banner .banner-content-container{padding-top: 300px;}
.banner .banner-content-container .left-content .title{font-size: 33px;font-family: PingFang SC;font-weight: 400;color: #FFFFFF;margin-top: 54px;margin-bottom: 30px;}
.banner .banner-content-container .left-content .desc{font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #F8EAFF;line-height: 24px;;margin-bottom: 40px;}
.banner .banner-content-container .right-image{display: flex;align-items: center;}
.banner .banner-content-container .right-image img{display: block;width: 100%;}

/*  研究报告 research-list-container */
.research-list-container{width: 100%;padding: 100px 0;}
.research-list-container .research-item-box{padding: 20px 0;border-bottom: 2px solid #F0F0F0;}
.research-list-container .research-item-box .research-item-left img{display: block;width: 100%;}
.research-list-container .research-item-box .research-item-right .research-title{
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #000000;
    line-height: 36px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.research-list-container .research-item-box .research-item-right .research-desc{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden; 
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
}
.research-list-container .research-item-box .research-item-right .bottom-info{display: flex;justify-content: space-between;align-items: center;}
.research-list-container .research-item-box .research-item-right .bottom-info .time{
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 36px;}
.research-list-container .research-item-box .research-item-right .bottom-info .btn-list{display: block;}
.research-list-container .research-item-box .research-item-right .bottom-info .btn-list a{
    display: inline-block;
    width: 144px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #002AFF;
    border-radius: 19px;
    margin: 0 5px;
    font-size: 20px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #002AFF;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}
.research-list-container .research-item-box .research-item-right .research-title{font-size: 26px;line-height: 30px;}
.research-list-container .research-item-box .research-item-right .research-desc{font-size: 16px;line-height: 26px;}
.research-list-container .research-item-box .research-item-right .bottom-info .time{font-size: 16px;line-height: 26px;}
.research-list-container .research-item-box .research-item-right .bottom-info .btn-list a{width: 117px;height: 26px;font-size: 14px;line-height: 26px;}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 576px){
}
/* 小屏幕（平板，大于等于 768px screen-sm-min ） */
@media (min-width: 768px) { 
    .research-list-container .research-item-box .research-item-right .bottom-info .btn-list{display: flex;}
    .research-list-container .research-item-box .research-item-right .bottom-info .btn-list a{margin-bottom: 0;}
}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
    .banner .banner-content-container{padding-top: 300px;}
    .research-list-container .research-item-box .research-item-right .bottom-info .btn-list{display: flex;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
    .research-list-container .research-item-box .research-item-right .bottom-info .btn-list{display: flex;}
}