Pillow==6.1.0
mock==3.0.5
redis==3.3.8
django==2.2.7
django-redis==4.10.0
psycopg2-binary==2.8.3
eventlet==0.25.1
gunicorn==19.9.0
pycrypto==2.6.1
gevent==1.4.0
psycogreen==1.0.1
ipython==7.8.0
kombu==4.6.4
django-celery-results==1.0.1
django-celery-beat==1.1.1
django-guardian==2.0.0
python-dateutil==2.8.0
geoip2==2.9.0

pyotp==2.3.0
django-ratelimit==2.0.0
raven==6.4.0
django-db-geventpool==3.1.0
pusher==2.1.4
requests-toolbelt==0.9.1
qrcode==6.1

empyrical==0.5.3
qiniu==7.2.6
django-grpc==1.0.6
