dl, ol, ul{
	margin-bottom: 0;
}
p{
    margin-bottom: 0;
}
.module-tab-banner{width: 100%;}
.module-tab-banner img{display:block;width: 100%;}

/* 公共模块 module-box */
.module-box{width: 100%;padding: 85px 0 40px;}
.module-box.gray-module-box{background-color: #f9f9f9;}
.module-box .module-title{display: flex;flex-direction: column;align-items: center;}
.module-box .module-title p{font-family: Microsoft YaHei;font-size: 20px;margin-bottom: 21px;text-align: center;font-weight: bold;color: #333;}
.module-box .module-title img{display: block;width: 58px;height: 8px;}
/* 导航栏 nav */
.nav-container{padding: 33px 0 0;display: flex;justify-content: space-between;box-sizing: border-box;align-items: center;flex-wrap: wrap;}
.nav-container .logo-box{display: flex;align-items: center;}
.nav-container .logo-box img{width: 100%;}
.nav-container .nav-box{display: flex;justify-content: space-around;align-items: center;}
.nav-container .nav-box li{font-size: 16px;cursor: pointer;}
.nav-container .nav-box li a.nav-item{color: #333;text-decoration: none;}
.nav-container .nav-box li a.nav-item:hover{color:#69b2dc;}
.nav-container .nav-box li p:hover{color:#69b2dc;}
.nav-container .nav-box-content{justify-content: space-between;position: relative;align-items: center;}
.nav-container .nav-box li .down-icon{display: inline-block;width: 14px;height: 7px;margin-left: 4px;}
.nav-container .nav-box-content .nav-box li .project-option-list{display:none;width: 610px;height: 92px;background: url('../images/nav_bg_1.png') center center no-repeat;position: absolute;z-index: 99;top: 22px;left: 8%;flex-wrap: wrap;align-content: space-around;padding: 15px 0 15px 15px;box-sizing: border-box;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list{background: url('../images/nav_bg_2.png') center center no-repeat;}
.nav-container .nav-box-content .nav-box li .project-option-list a{display:block;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #555555;flex: 0 0 33.3333%;height: 20px;line-height: 20px;margin-top: 10px;}
.nav-container .nav-box-content .nav-box li .project-option-list a:hover{color:#69b2dc;text-decoration: none;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(1){flex: 0 0 30%;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(2){flex: 0 0 40%;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(3){flex: 0 0 30%;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(4){flex: 0 0 30%;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(5){flex: 0 0 40%;}
.nav-container .nav-box-content .nav-box li .project-option-list.plan-option-list a:nth-child(6){flex: 0 0 30%;}
.nav-container .nav-box-content .mobile-nav{display: none;}
.nav-container .nav-box-content .mobile-nav .icon{cursor:pointer;height: 18px;width: 22px;display: flex;flex-direction: column;justify-content: space-between;}
.nav-container .nav-box-content .mobile-nav .icon span{width: 22px;height: 2px;background-color: #999;}
.nav-container .nav-box{display: none;}
.nav-container .nav-box-content .mobile-nav{display: block;}
.nav-container .nav-list .nav-list-item{border-bottom: 1px solid #ebebeb;}
.nav-container .nav-list .nav-list-item:last-child{border-bottom: 1px solid #ebebeb;}
.nav-container .nav-list .nav-list-item.child-list-item{display: flex;justify-content: space-between;align-items: center;cursor: pointer;}
.nav-container .nav-list a{display: block;font-size: 14px;line-height: 30px;color: #333;height: 30px;text-decoration: none;}
.nav-container .nav-list{display: none;}
.nav-container .nav-list .nav-item-list{display: none;}
.nav-container .nav-list .nav-item-list ul li a{padding-left: 10px;}
.nav-container .nav-list .nav-list-item .list-icon{cursor: pointer;width: 14px;}
.nav-container .nav-list .nav-list-item .list-icon img{display: block;width: 100%;}
.nav-container .nav-list .nav-list-item .list-icon img.up-icon{display: none;}
/* 公共底部 common-footer */
.common-footer{width: 100%;background: url(../images/footer-bg.png) top left repeat;position: relative;}
.common-footer .footer-content{width: 90%;margin: 0 auto;padding-top: 38px;display: flex;justify-content: space-around;flex-wrap: wrap;padding-bottom: 27px;}
.common-footer .footer-content ul.footer-list{margin-bottom: 10px;flex-shrink: 0;width: 197px;}
.common-footer .footer-content ul.footer-list li{font-size: 14px;color: #ddd;line-height: 20px;margin-bottom: 5px;}
.common-footer .footer-content ul.footer-list li:first-child{font-size: 18px;color: #fff;line-height: 24px;margin-bottom: 15px;}
.common-footer .footer-content .contact-box{width: 213px;}
.common-footer .footer-content .contact-box .contact-title{font-size: 18px;font-family: Microsoft YaHei;font-weight: bold;color: #FFFFFF;margin-bottom: 21px;}
.common-footer .footer-content .contact-box .qr-code-box{width: 100%;height: 100px;display: flex;justify-content: space-between;}
.common-footer .footer-content .contact-box .contact-way{width: 100%;height: 40px;display: flex;justify-content: space-between;margin-top: 20px;}
.common-footer .footer-content .contact-box .contact-way li{width: 40px;height: 40px;}
.common-footer .footer-content .contact-box .contact-way li:first-child{width: 48px;}
.common-footer .footer-content .contact-box .contact-way li img{display: block;width: 100%;}
.common-footer .footer-content .contact-box .number-phone-box{width: 100%;font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: #DDDDDD;line-height: 24px;margin-top: 25px;}
.common-footer .records-box{width: 100%;font-size: 12px;line-height:20px;font-family: Microsoft YaHei;font-weight: 400;color: #BBBBBB;text-align: center;padding: 14px 0;border-top: 1px solid rgba(93, 93, 93,.5);}
.common-footer .goTop{width: 45px;height: 45px;display: flex;justify-content: center;align-items: center;background-color: #69b2dc;border-radius: 4px;cursor: pointer;position: absolute;right: 20px;top: 100px;}

/* 立即咨询 */
.form-container{height: 500px;background-color: #e9eef6;padding: 60px 120px;margin-top: 40px;}
.form-container .form-item{margin-bottom: 20px;display: flex;justify-content: space-between;}
.form-container .form-item input{border: none;height: 40px;line-height: 40px;padding: 0 20px;color: #293c57;caret-color: #3da8f3;}
.form-container .form-item textarea{border: none;height: 200px;line-height: 40px;padding: 0 20px;color: #293c57;caret-color: #3da8f3;resize: none;}
.form-container .form-btn-sub{height: 40px;line-height: 38px;width: 160px;color: #fff;text-align: center;cursor: pointer;border: none;background-image: -webkit-gradient(linear,left top, right top,color-stop(0, #2EA7E0),to(#036EB8));background-image: -webkit-linear-gradient(left,#2EA7E0 0,#036EB8 100%);background-image: linear-gradient(90deg,#2EA7E0 0,#036EB8 100%);position: relative;margin-left: 15px;}
.form-container .form-item .selec-ipt-box{height: 40px;display: flex;background-color: #fff;}
.form-container .form-item .selec-ipt-box .select-box{height: 40px;}
.form-container .form-item .selec-ipt-box input{border: none;outline: none;}

/* 右侧漂浮 right-float */
.right-float{width: 70px;height: 249px;background: #fff;position: fixed;padding: 10px;border-radius: 5px;right: 15px;bottom: 200px;z-index: 12;box-shadow: 2px 2px 10px #ccc;font-size: 12px;}
.right-float ul li{width: 100%;margin-bottom: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.right-float ul li a{position:relative;width: 100%;margin-bottom: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;color: #333;text-decoration: none;}
.right-float ul li a .info{position: absolute;
    right: 70px;
    border-radius: 5px;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    text-align: center;
    background: #389af1;
    color: #fff;
    transition: all 3s linear;}
    .right-float ul li a .info img{
        width: 120px;
        height: 120px;
        object-fit: contain;
        border-radius: 4px;
    }
    .right-float ul li a .info::after{
        content: " ";
        position: absolute;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: #389af1;
        z-index: -7;
        top: 50%;
        margin-top: -6px;
        right: -5px;
    }

.right-float ul li img{width: 28px;}
.right-float ul li.right-title{margin-bottom: 10px;}
.right-float ul li.right-title img{width: 100%;}
.user-modal{    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.user-close {
    position: absolute;
    right: -5px;
    top: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    background-color: #f5f5f5;
    color: #708090;
    cursor: pointer;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
}
.user-modal .user-main{
    position: relative;
    width: 300px;
    min-height: 380px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    position: fixed;
    top: 50%;
    margin-top: -230px;
    left: 50%;
    margin-left: -150px;
}
.user-main h5 {
    text-align: center;
    padding: 20px 10px 0;
    font-size: 15px;
}
.user-modal .user-form-ul{    list-style: none;
    margin: 0;
    padding: 0 20px;}
    .user-form-ul li p{
        color: rgba(0,0,0,.85);
        padding: 10px 0 5px;
        margin: 0;
    }
    .user-form-ul li input, .user-form-ul li textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 2px 8px;
        font-size: 13px;
        resize: none;
    }
    .user-form-ul li.user-btn {
        text-align: center;
    }
    .user-form-ul li.user-btn .user-confirm {
        height: 35px;
        line-height: 35px;
        letter-spacing: 5px;
        text-align: center;
        width: 160px;
        display: inline-block;
        margin: 10px auto;
        background-color: #389af1;
        color: #fff;
        outline: none;
        border: 0;
        border-radius: 5px;
    }




/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 576px){
}
/* 小屏幕（平板，大于等于 768px screen-sm-min ） */
@media (min-width: 768px) { 
    .nav-container{padding: 33px 0 24px;}
    .nav-container .nav-box-content .nav-box li .project-option-list{left: 11%;}
    .nav-container .nav-box{display: flex;}
    .nav-container .nav-box-content .mobile-nav{display: none;}
    .nav-container .nav-box-content{justify-content: space-between;}
    .nav-container .nav-list{display: none;}
}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
    .module-box .module-title p{font-size: 30px;}
    .nav-container{padding: 33px 0 24px;}
    .nav-container .nav-box-content{justify-content: space-between;}
    .nav-container .nav-box-content .nav-box li .project-option-list{left: 12%;}
    .nav-container .nav-box{display: flex;}
    .nav-container .nav-box-content .mobile-nav{display: none;}
    .nav-container .nav-box-content{justify-content: space-between;}
    .nav-container .nav-list{display: none;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
    /* 公共模块 module-box */
    .module-box .module-title p{font-size: 30px;}
    .nav-container{padding: 33px 0 24px;}
    .nav-container .nav-box-content{justify-content: space-between;}
    .nav-container .nav-box-content .nav-box li .project-option-list{left: 14%;}
    .nav-container .nav-box{display: flex;}
    .nav-container .nav-box-content .mobile-nav{display: none;}
    .nav-container .nav-box-content{justify-content: space-between;}
    .nav-container .nav-list{display: none;}
}