/* 下载列表 download-container */
.download-container{padding: 80px 0;}
.download-container .row{margin-left: 0;}
.download-container .download-item{box-sizing: border-box;padding: 20px;box-shadow: 0px 0px 25px 5px rgba(237, 237, 237, 0.5);border-radius: 4px;display: flex;align-items: center;margin-bottom: 37px;}
.download-container .download-item .left-img img{display: block;width: 100%;}
.download-container .download-item .right-content{display: flex;flex-direction: column;justify-content: space-between;}
.download-container .download-item .right-content .title{font-size: 16px;font-family: Microsoft YaHei;font-weight: bold;color: #333333;}
.download-container .download-item .right-content .introduce{font-size: 12px;font-family: Microsoft YaHei;font-weight: 400;color: #333333;line-height: 20px;}
.download-container .download-item .right-content .detail{font-size:12px;display: flex;justify-content: space-between;color: #8C8C8C;}
.download-container .download-item .right-content .detail .btn-box{display: flex;}
.download-container .download-item .right-content .detail .btn-box p{margin-right: 20px;cursor: pointer;}
.download-container .download-item .right-content .detail .btn-box p a{color: #333;text-decoration: none;}
.download-container .download-item .right-content .detail .btn-box p a img{margin-right: 4px;}
@media (min-width: 768px) { 
    .download-container .download-item .right-content{padding-top: 0;}
    .download-container .download-item .right-content .introduce{margin-top: 0;}
}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
    .download-container .download-item .right-content{padding-top: 34px;height: 100%;}
    .download-container .download-item .right-content .title{font-size: 20px;}
    .download-container .download-item .right-content .introduce{font-size: 14px;margin-top: 23px;}
    .download-container .download-item .right-content .detail{font-size: 14px;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
    .download-container .download-item .right-content{padding-top: 34px;height: 100%;}
    .download-container .download-item .right-content .title{font-size: 20px;}
    .download-container .download-item .right-content .introduce{font-size: 14px;margin-top: 23px;}
    .download-container .download-item .right-content .detail{font-size: 14px;}
}