{% load staticfiles %}
<div class="common-footer">
    <div class="footer-content container">
        <div class="row">
            <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                <li>产品</li>
                <li>数字货币钱包</li>
                <li>数字货币硬件钱包</li>
                <li>数字货币交易所</li>
                <li>公链联盟链</li>
                <li>钱包安全系统</li>
                <li>股票交易所</li>
                <li>去中心化钱包</li>
                <li>去中心化交易所</li>
                <li>密钥协商平台</li>
                <li>密码保险柜</li>
            </ul>
            <ul class="footer-list col-xl-3 col-lg-4 col-md-4 col-6">
                <li>解决方案</li>
                <li>交易所解决方案</li>
                <li>数字货币云端钱包解决方案</li>
                <li>公链技术解决方案</li>
                <li>联盟链接解决方案</li>
                <li>跨链技术解决方案</li>
                <li>数字钱包解决方案</li>
                <li>硬件钱包解决方案</li>
                <li>交易所风控解决方案</li>
                <li>去中心化钱包解决方案</li>
                <li>去中心化交易所解决方案</li>
                <li>密钥抗丢失解决方案</li>
                <li>股票交易所解决方案</li>
            </ul>
            <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                <li>研究院</li>
                <li>区块链知识产权保护</li>
                <li>一种云端可干扰的密钥解决方案</li>
                <li>交易所底层技术</li>
                <li>5G 流化研究</li>
                <li>5G 和区块链的融合</li>
                <li>数字货币银行</li>
            </ul>
            <ul class="footer-list col-xl-2 col-lg-4 col-md-4 col-6">
                <li>合作伙伴</li>
                <li>知鱼财经</li>
                <li>知鱼网络科技</li>
                <li>邦国科技</li>
                <li>问我学院</li>
                <li>巡宇投贷</li>
                <li>华严科技</li>
                <li>家艺家政保洁</li>
                <li>阿里云</li>
            </ul>
            <div class="contact-box col-xl-3 col-lg-3 col-md-5 col-sm-6 col-7">
                <p class="contact-title">关注木姜子</p>
                <div class="qr-code-box">
                    <img src="{% static 'images/qrCode_1.png'%}" alt="">
                    <img src="{% static 'images/qrCode_2.png'%}" alt="">
                </div>
                <ul class="contact-way">
                    <li><img src="{% static 'images/footer_concat_1.png'%}" alt=""></li>
                    <li><img src="{% static 'images/footer_concat_2.png'%}" alt=""></li>
                    <li><img src="{% static 'images/footer_concat_3.png'%}" alt=""></li>
                    <li><img src="{% static 'images/footer_concat_4.png'%}" alt=""></li>
                </ul>
                <p class="number-phone-box">
                    +86 18210042149<br />
                    周一至周日 8:00 ~ 20:00<br />
                    20123762@s.hlju.edu.cn<br />
                </p>
            </div>
        </div>
    </div>
    <div class="records-box">
        <p>
            GingerNet_区块链技术开发_钱包系统_数字货币交易系统开发-木姜子科技<br />
            天津木姜子科技有限公司，18210042149，天津市河西区四信大厦 3 层 C306 D402<br />
            © 2018-2020 www.gingernet.vip All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;津ICP备20001736号-2
        </p>
    </div>
    <div class="goTop" onclick="goToTop()">
        <img src="{% static 'images/top_icon.png'%}" alt="">
    </div>
</div>
