<!-- 立即咨询 advisory-container -->
{% load staticfiles ginger_tags %}
<div class="advisory-container">
<div class="container">
  <div class="row">
    <div class="col-12 module-title">
      <p class="title">立即咨询</p>
      <p class="desc">遇到相关技术问题？请在线提交你所需的服务请求，最短2分钟内将有工程师联系帮助您解决处理。</p>
    </div>
    <div class="advisory-content col-12 row">
      <div class="advisory-content-left col-12 col-lg-6">
        <input type="text" class="ipt short-ipt" placeholder="客户名称">
        <input type="text" class="ipt short-ipt" placeholder="联系方式">
        <textarea cols="30" rows="10" class="ipt long-ipt" placeholder="请描述你遇到的问题"></textarea>
        <div class="submit-btn">提交</div>
      </div>
      <div class="advisory-content-right col-12 col-lg-6">
        <img src="{% static 'images/advisory-map.png' %}" alt="advisory-map">
      </div>
    </div>
  </div>
</div>
</div>

<!-- 底部 footer -->
<div class="footer-container">
<div class="footer-top-container">
  <div class="container">
    <div class="row">
      <ul class="col-6 col-sm-3">
        <li class="title">关于我们</li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
      </ul>
      <ul class="col-6 col-sm-3">
        <li class="title">合作流程</li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
      </ul>
      <ul class="col-6 col-sm-3">
        <li class="title">集团子公司</li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
        <li><a href="#" target="_blank">服务热线</a></li>
      </ul>
      <div class="col-6 col-sm-3 weixin-container">
        <img class="weixin" src="{% static '/images/weixin.png' %}" alt="weixin">
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-container">
  <div class="container">
    <div class="row flex-column">
      <p>© 2018-2020 知鱼网络（天津）科技有限公司 | 知鱼网络（贵州）科技有限公司 | All Rights Reserved</p>
      <p>友情链接： <a href="#" target="_blank">木姜子科技</a> | <a href="#" target="_blank">知鱼财经</a> | <a href="#" target="_blank">问我学院</a></p>
    </div>
  </div>
</div>
</div>