{% load staticfiles%}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>椭圆科技曲线官网(原木姜子科技官网)-天津椭圆曲线科技有限公司(原天津木姜子科技有限公司)-区块链技术底层开发-数字货币钱包系统开发-区块链钱包开发-确定性分层(HD)钱包开发-数字货币交易所开发-撮合系统-流动性(机器人)系统-现货交易系统-杠杆交易系统-期货交易系统-期权保险交易系统-数字货币量化系统-数字货币基金系统-主链联盟链跨链链改链通-云端可干扰的密钥抗丢失-ETH，EOS等币种合约开发-数字货币硬件钱包-股票交易所-股票配资平台-银行三方存管系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Contro" content="no-siteapp" />
    <meta name="renderer" content="webkit" />
    <meta name="description" content="椭圆科技曲线官网(原木姜子科技官网)-天津椭圆曲线科技有限公司(原天津木姜子科技有限公司)-区块链技术底层开发-数字货币钱包系统开发-区块链钱包开发-确定性分层(HD)钱包开发-数字货币交易所开发-撮合系统-流动性(机器人)系统-现货交易系统-杠杆交易系统-期货交易系统-期权保险交易系统-数字货币量化系统-数字货币基金系统-主链联盟链跨链链改链通-云端可干扰的密钥抗丢失-ETH，EOS等币种合约开发-数字货币硬件钱包-股票交易所-股票配资平台-银行三方存管系统" />
    <meta name="keywords" content="椭圆科技曲线官网(原木姜子科技官网)-天津椭圆曲线科技有限公司(原天津木姜子科技有限公司)-区块链技术底层开发-数字货币钱包系统开发-区块链钱包开发-确定性分层(HD)钱包开发-数字货币交易所开发-撮合系统-流动性(机器人)系统-现货交易系统-杠杆交易系统-期货交易系统-期权保险交易系统-数字货币量化系统-数字货币基金系统-主链联盟链跨链链改链通-云端可干扰的密钥抗丢失-ETH，EOS等币种合约开发-数字货币硬件钱包-股票交易所-股票配资平台-银行三方存管系统" />
    <link rel="icon" type="image/png" sizes="16x16" href="#" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
     {% block body %}
     {% endblock %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.SuperSlide.2.1.1.js'%}"></script>
    <script src="{% static 'js/owl.carousel.js'%}"></script>
     <script>
        fronted_nav_mark = "{{ fronted_nav_mark }}";
        console.log(fronted_nav_mark)
        if(fronted_nav_mark === 'index'){
            console.log($("qqqq"))
            $("#index").addClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'product') {
             console.log($("ggggg"))
            $("#index").removeClass('is-active')
            $("#product").addClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'solution') {
            $("#index").removeClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").addClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'research') {
            $("#index").removeClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").addClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'comp_dyn') {
            $("#index").removeClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").addClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'partner') {
            $("#index").removeClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").addClass('is-active')
            $("#about").removeClass('is-active')
        }
        if(fronted_nav_mark === 'about') {
            $("#index").removeClass('is-active')
            $("#product").removeClass('is-active')
            $("#solution").removeClass('is-active')
            $("#research").removeClass('is-active')
            $("#comp_dyn").removeClass('is-active')
            $("#partner").removeClass('is-active')
            $("#about").addClass('is-active')
        }
     </script>
     <script>
    var timer = null;
    var timer2 = null;
    $('.project-nav').mouseenter(function(){
      $('.solution-nav-more').hide()
      $('.project-nav-more').css('display','flex')
    })
    $('.project-nav-more').mouseenter(function(){
      clearTimeout(timer)
    })
    $('.project-nav-more').mouseleave(function(){
      $('.project-nav-more').hide()
    })

    $('.project-nav').mouseleave(function(){
      timer = setTimeout(() => {
        $('.project-nav-more').hide()
      }, 500)
    })
    $('.solution-nav').mouseenter(function(){
      $('.project-nav-more').hide()
      $('.solution-nav-more').css('display','flex')
    })
    $('.solution-nav').mouseleave(function(){
      timer2 = setTimeout(() => {
        $('.solution-nav-more').hide()
      }, 500)
    })
    $('.solution-nav-more').mouseenter(function(){
      clearTimeout(timer2)
    })
    $('.solution-nav-more').mouseleave(function(){
      $('.solution-nav-more').hide()
    })
  </script>
  <script>
    $('.mobile-nav-container .icon').click(function(){
      $('.nav-list').slideToggle()
    })
    $('.child-list-item-1').click(function(){
        $('.nav-item-list-1').slideToggle()
        $(this).find('.list-icon img').toggle()
    })
    $('.child-list-item-2').click(function(){
        $('.nav-item-list-2').slideToggle()
        $(this).find('.list-icon img').toggle()
    })
  </script>
  <script>
        $('.right-float ul li').mouseenter(function(){
            if($(this).find('.info')){
                $(this).find('.info').show()
            }
        })
        $('.right-float ul li').mouseleave(function(){
            if($(this).find('.info')){
                $(this).find('.info').hide()
            }
        })
        $('.user-close').click(function(){
            $('.user-modal').hide()
        })
        $(".right-liuyan").click(function(){
            $('.user-modal').show()
        })
    </script>

     <script>
     function CreateRightMsg(obj){
            url_href = window.location.href;
            var index = url_href.lastIndexOf("\/");
            var url_str = url_href.substring(0, index + 1);
            var req_url = url_str + 'online_msg';
            let user_name = $("input[name='r_user_name']").val();
            let phone = $("input[name='r_phone']").val();
            let email = $("input[name='r_email']").val();
            let describe = $('#r_describe').val();
            if (user_name === "" ){
                alert("用户不能为空，请填写")
                return
            }
            if((/^1[123456789]d{9}$/.test(phone))){
                alert("手机号码格式不正确，请检查后填写")
                return
            }
            if (describe === "" || describe == null){
                alert("描述内容不能为空，请填写")
                return
            }
            $.ajax({
                url: req_url,
                data: {
                    "user_name": user_name,
                    "phone":phone,
                    "weichat":"用户选择不填入",
                    "email": email,
                    "describe": describe,
                },
                type: 'GET',
                dataType:'json',
                success: function (data) {
                    if (data.code === 0) {
                        alert ('提交数据成功');
                        window.location.reload();
                    } else{
                        alert ('提交数据成功');
                        window.location.reload();
                    }
                },
                error: function (data) {
                   alert('提交数据错误，请重新提交');
                }
            });
        }
     function CreateMsg(obj){
            url_href = window.location.href;
            var index = url_href.lastIndexOf("\/");
            var url_str = url_href.substring(0, index + 1);
            var req_url = url_str + 'online_msg';
            let user_name = $("input[name='user_name']").val();
            let phone = $("input[name='phone']").val();
            let email = $("input[name='email']").val();
            let describe = $('#describe').val();
            if (user_name === "" ){
                alert("用户不能为空，请填写")
                return
            }
            if((/^1[123456789]d{9}$/.test(phone))){
                alert("手机号码格式不正确，请检查后填写")
                return
            }
            if (describe === "" || describe == null){
                alert("描述内容不能为空，请填写")
                return
            }
            $.ajax({
                url: req_url,
                data: {
                    "user_name": user_name,
                    "phone":phone,
                    "weichat":"用户选择不填入",
                    "email": email,
                    "describe": describe,
                },
                type: 'GET',
                dataType:'json',
                success: function (data) {
                    if (data.code === 0) {
                        alert ('提交数据成功');
                        window.location.reload();
                    } else{
                        alert ('提交数据成功');
                        window.location.reload();
                    }
                },
                error: function (data) {
                   alert('提交数据错误，请重新提交');
                }
            });
        }
        function showMsg(text, heading, icon) {
            if (heading === undefined) {
                let heading = "提示";
            }
            $.toast({
                text: text,
                heading: heading,
                icon: icon,
                position: 'top-center',
                textAlign: 'left',
                loader: false,
                loaderBg: '#ffffff',
            });
        }
     </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
