{% load staticfiles ginger_tags %}
<div class="col-12 d-flex justify-content-center">
    {% if items.has_previous %}
       <a href="{{ items.prefix_uri }}page={{ items.previous_page_number }}" class="func-btn">上一页</a>
    {% endif %}
    {% if items.page_range_data.show_first %}
        <a href="{{ items.prefix_uri }}page=1" class="page-btn">1</a>
    {% endif %}
     {{ items.page_range }}
    {% for i in items.page_range_data.page_range %}
      {% if i == items.number or i == page %}
        <a href="{{ items.prefix_uri }}page={{ i }}" class="page-btn is-active">{{ i }}</a>
      {% else %}
        <a href="{{ items.prefix_uri }}page={{ i }}" class="page-btn">{{ i }}</a>
       {% endif %}
    {% endfor %}
    {% if items.page_range_data.show_last %}
       <a href="{{ items.prefix_uri }}page={{ items.paginator.num_pages }}" class="page-btn">{{ items.paginator.num_pages }}</a>
    {% endif %}
    {% if items.has_next %}
      <a href="{{ items.prefix_uri }}page={{ items.next_page_number }}" class="func-btn">下一页</a>
    {% endif %}
</div>

